<h3><%= "Quiz questions" %></h3>
<% if questions != [] %>
	<ul>
		<% questions.each_with_index do |question, index| %>
			
			<li>
				<%= link_to "Question #{index + 1} - #{question.name if question.name}", edit_question_path(question), :remote => true, :class => 'questionLinks', :data => {:question => question.id} %> 
			</li>
			<%= link_to "x", question_path(question), :method => 'delete', :remote => true ,:class => 'deleteButton', :confirm => "Are you sure you want to delete this question?" %>
		<% end %>
	</ul>		
<% else %>
	<p>There are currently no questions in this quiz.</p>
<% end %>