<h3><%= "Quiz questions" %></h3>
<% if questions != [] %>
	<ul id="sortable">
		<% questions.each_with_index do |question, index| %>
			
			<li>
				<div class="questionLink">
					<%= link_to "Question #{index + 1} - #{question.name if question.name}", edit_question_path(question), :remote => true, :class => 'questionLinks', :data => {:question => question.id, :sort => question.sort_number} %> 
				</div>
				
				<%= link_to "x", question_path(question), :method => 'delete', :remote => true ,:class => 'deleteButton pull-right', :confirm => "Are you sure you want to delete this question?"%>
			</li>
		<% end %>
	</ul>		
<% else %>
	<p>There are currently no questions in this quiz.</p>
<% end %>