<%= link_to "<-- Back to quiz list", quizzes_path %>
<%= render 'linkbar' %>
<div id="floatContainer">
	<div id="formContainer">
		<%= render 'form' %>
	</div>
	<div id="questionContainer">
		<p>There are currently no questions in this quiz.</p>
	</div>	
</div>

<div id="addQuestionForm">
	<%= render 'questions/form' %>
</div>