<!-- <h1 class="inline">Lectures</h2>
<%= link_to "Create Lecture", "#", :remote => true, :class => "createLink" %>

<% if @lectures.size > 0 %>
	<ul class="lectureList">
		<% @lectures.each do |lecture| %>
			<li class="resourceListing">
				<%= link_to lecture.name, lecture_path(lecture) %>		
			</li>
		<% end %>
	</ul>
<% end %> -->