<div id="lectureNavbar">
	<h2 class="inline">
		<%= "#{@lecture.name.upcase }:" %>
		<%= @lecture.subtitle %>
	</h2>
	<%= link_to "Home", user_root_path(current_user), :class => "inline navbar_link" %>
</div>

<div id="lectureContainer">
	<% if @lecture.content %>
		<% @lecture.content["sections"].each do |section| %>
			<%= render section['type'], :section => section %>
		<% end %>
	<% end %>
</div>
