<div id="lectureNavbar">
	<h2 class="inline"><%= @lecture.name %></h2>
	<% if can? :manage, :all %>
		<%= link_to "Add Question", new_lecture_lecture_question_path(@lecture), :class => "inline"%>

	<% end %>
	<%= link_to "Back", user_root_path(current_user), :class => "inline", :id => "back_link" %>
</div>
<div id="lectureContainer">
	<%= render parse_lecture_name(@lecture.name) %>	
</div>
