<h3>Lecture questions</h3>
<% if @lecture.lecture_questions.any? %>
	<% @lecture.lecture_questions.each do |question| %>
	<p>
		<%= "#{question.order_index}. " %>
		<%= question.content %>
		<%= link_to "Delete", lecture_lecture_question_path([@lecture],[question]), :method => "delete", :remote => true, :confirm => "Are you sure you want to delete this question?"%>
	</p>
	<% end %>
<% end %>