<div class="firstColumn column">
	<p><%= question.content %></p>
	<%= render 'comments/form', :commentable => question %>
</div>
<div class="secondColumn column">
	<div class="commentDisplay" value="<%= question.order_index %>">
		<%= render 'comments/index', :question  => question %>	
	</div>
</div>