<h2>Lectures</h2>

<% if @lectures.size > 0 %>
	<ul class="lectureIndex">
		<% @lectures.each do |lecture| %>
			<li>
				<%= link_to "#{lecture.name}: #{lecture.subtitle}", lecture_path(lecture) %>
			</li>
			
		<% end %>	
	</ul>
	

<!-- 	<#% @units.each do |unit| %>
		<div class="unit">
			<div class="unitHeader">
				<p>
					<#%= "#{unit.name} - "%>
					<em>
						<#%= "beginning #{unit.release_date.to_date}" %>
					</em>
				</p>
			</div>
				
			<ul class="unitContent">
				<#% if unit.components.size > 0 %>
					<#% unit.components.each do |component| %>
						<li class="userComponents">
							<#%= render :partial => partialize(component.element), :locals => { :component => component.element } %>
						</li>	
					<#% end %>
				<#% else %>	
					<li><#%= "There are no assignments for this unit." %></li>
				<#% end %>
			</ul>
		</div>
	<#% end %>
 -->

<% else %>
<p><%= "There are currently no scheduled lectures." %> </p>
<% end %>