<div id="modal">
	<div id="dialog-form" title="Create a new question">
		<%= render 'lecture_questions/form' %>
		<div id="lecture_question_index">
			<%= render 'lecture_questions/index' %>			
		</div>
	</div>
</div>