$bannerFont: "Monoton";
/*$standard: "News Cycle";*/
$standard: "Pontano Sans";

@mixin section($color) {
	width: 100%;
	background-color: $color;
	overflow: auto;
}

body, div, h1, h2, form, fieldset, input, textarea, footer, p, img {
    margin: 0; padding: 0; border: 0; outline: none;
}
a { text-decoration:none; color: #fff;}

body {
	background-color: #000;
	margin: 0;
}



#lectureNavbar {
	position: fixed;
	background-color: #fff;
	width: 100%;
	/*margin-top: -75px;*/
	padding: 5px;
	/*overflow: auto;*/
	padding-left: 5%;
	/*opacity: 0;*/
	.inline {
		display: inline-block;
	}
	a {
		font-family: $standard;
		color: green;
		text-decoration: none;
		&:hover {
			color: orange;
		}
	}
	h2 {
		font-family: $bannerFont;
	}
}

#lectureContainer {
	overflow: auto;

}



#back_link {
	width: 150px;
	float: right;
	margin: 1.5% 5% 0 0;
}

.section {
	font-family: $standard;
	/*padding: 5%;*/
	width: 35%;
	margin-left: 10%;
	color: #000;
	p {
		padding: 0 13%;
		padding-bottom: 10%;
		font-size: 1.2em;
		line-height: 2em;
		/*margin: 10% 0;*/
	}
	h3 {
		padding: 10% 13%;
		margin: 0;
	}
	div {
		/*padding-top: 8%;*/
	}
	.first_paragraph {
		padding-top: 25%;
	}
}

#graphic_section_1 {	
	color: #fff;
	font-size: 2em;
}

.graphic {
	font-family: $standard;
	position: fixed;
	width: 40%;
	height: 300px;
	top: 25%;
	right: 5%;
	text-align: center;
	div {
		margin: 5% 0;
	}
	/*z-index: 5;*/
}

#section_1 {
	@include section(green);
	background: image-url('bg.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  p, h3 {
  	color: #fff;
  }*/
}

#sub_section_1 {
	background-color: yellow;
	/*background: image-url('yellowtrans.png') top center; */
}

#section_2 {
	@include section(blue);
}

#sub_section_2 {
	background-color: lightgreen;
}

#section_3 {
	@include section(orange);	
}

#section_4 {
	@include section(yellow);
}

#section_5 {
	@include section(violet);
	background: image-url('limbo_1.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sub_section_5 {
	background: image-url('yellowtrans.png') top center;
}

.lectureQuestion {
	overflow: auto;
	/*width: 200%;*/
	background-color: brown;
	color: white;
	padding: 8% 0;
	/*padding-top: 10%;*/
	.column {
		width: 46%;
		float: left;
		padding: 0 2%;
	}
	.commentDisplay {
		font-size: .8em;
		background-color: white;
		overflow: scroll;
		height: 500px;
		color: black;
		p {
			padding: 0 0 0 6%;
		}
		div {
			margin-bottom: 5%;
		}

	}
}

.attribution {
	margin-left: 4%;
}

#comment_response_section_1 {
	opacity: 0;
}

form {
	padding-bottom: 10%;
	input {
		outline: 5px solid #aaa;
	}

	textarea {
		margin: 10px 0;
		border: none;	
		width: 100%;
		height: 200px;
	}

	input[type="submit"] {
		outline: 0;
		padding: 3%;
		border-radius: 5px;
		background-color: orange;
		display: block;
		margin: auto;
		&:hover {
			background-color: yellow;
			cursor: hand; cursor: pointer;
		}

	}

	h3 {
		margin: 15px 0 5px 0;
	}

}

footer {
	color: #fff;
}