$bannerFont: "Average Sans";
/*$standard: "News Cycle";*/
$standard: "Pontano Sans";
/*
$color: #fdff73;
$color2: #ffc273;
$color3: #ff9a40;
*/
$color: #e9e7c6;
$color2: #bbb;
$color3: #8c8851;

$buttonColor: #bf3030;

@mixin backgroundImageStyle($imageUrl) {
  background-color: #282a3d;
	@media (min-width: 768px) {
		background: image-url($imageUrl) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}

@mixin bodyText {
	font-family: $standard;
	p {
		padding: 0 9%;
		padding-bottom: 10%;
		font-size: 1.2em;
		line-height: 2em;
	}
	h3 {
		padding: 10% 13%;
		margin: 0;
	}
}

@mixin fullStripe {
	@include bodyText;
	background-color: rgba(240, 240, 240, .8);	
	// @include colorrgb;
	// border: 15px solid #ccb;
	margin: 0 0;
	// border-radius: 10px;
	p {
		color: #000;
		padding: 3% 5%;
		font-size: 1.2em;
		line-height: 2em;
		background-color: rgba(255, 255, 255, .9);
	}
	.firstColumn, .secondColumn {
		width: 100%;
		padding: 4%;
	}


	@media (min-width: 768px) {
		.firstColumn {
			width: 45%;
		}
		.secondColumn {
			width: 55%;
			padding: 3%;
		}
	}

	padding: 1% 0;
	// padding: 2% 0 1% 0;
	color: black;
	overflow: auto;
	position: relative;
	z-index: 10;
}

@mixin color2rgb {
	/*background-color: rgba(255,194,115, .9);	*/
	background-color: rgba(230,230,230, .9);	
}

@mixin colorrgb {
	/*background-color: rgba(253,255,115, .9);	*/
	background-color: rgba(224,224,224, .5);	
}

@mixin color3rgb {
	/*background-color: rgba(255, 154, 64, .9);*/
	background-color: rgba(140,140,140, .9);
}

@mixin section($color) {
	width: 100%;
	background-color: $color;
	overflow: auto;
}
@mixin button {
	font-family: $standard;
	background-color: $buttonColor;
	outline: none;
	border: none;
	padding: 10px;	
	color: #fff;
	border-radius: 5px;
	&:hover {
		background-color: lighten($buttonColor, 15%);
		cursor: hand; cursor: pointer;
	}
}

body, div, h1, h2, form, fieldset, input, textarea, footer, p, img {
    margin: 0; padding: 0; border: 0; outline: none;
}

a { 
	text-decoration:none; color: #aaa;
	&:hover {
		color: #A3A0EC;
	}
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	background-color: #282a3d;
	margin: 0;
}

span.gap {
	margin: 2%
}

#lectureNavbar {
	display: none;
	position: fixed;
	z-index: 20;
	background-color: #fff;
	width: 100%;
	padding: 0 5%;
	.inline {
		display: inline-block;
	}
	a {
		font-family: $standard;
		color: green;
		text-decoration: none;
		display: inline-block;
		&:hover {
			color: orange;
		}
	}
	h2 {
		float: left;
		font-family: $bannerFont;
		margin-top: 1%;
		font-size: 1em;
		width: 80%;
	}
	button {
		@include button;
		float: right;
		margin: 1% 5% 1% 1%;
	}
}

@media (min-width: 768px) {
	#lectureNavbar {
		display: inline-block;
	}
}

#lectureContainer {
	overflow: auto;
}

.navbar_link {
	// width: 150px;
	float: right;
	margin: 1% 0;
}

.section {
	float: left;
	font-family: $standard;
	min-width: 320px;
	width: 100%;
	// width: 45%;
	padding: 4%;
	color: #000;
	p {
		padding: 3% 5%;
		font-size: 1.2em;
		line-height: 2em;
		background-color: rgba(255, 255, 255, .9);
	}
	h3 {
		padding: 2% 2% 0 5%;
		color: #fff;
		border-radius: 5px;
		margin-bottom: 1%;		
	}
	.first_paragraph {
		margin-top: 25%;
	}
}

@media (min-width: 768px) {
	.section {
		width: 45%;
	}
}

.sectionContainer {
	position: relative;
	overflow: auto;
	min-width: 320px;
	// min-width: 760px;
	width: 100%;
	margin: auto;
}

@media (min-width: 768px) {

	.sectionContainer {
		min-width: 760px;
	}
}

#graphic_section_1 {	
	color: black;
	font-size: 2em;
}

.powerpoint {
	min-width: 320px;
	// border: $color3 4px solid;
	background-color: rgba(240, 240, 240, .8);
	border-radius: 5px;
	// padding: 2%;
	z-index: 5;
	opacity: 1;
	h2 {
		padding: 3% 0;
	}
}

.graphic {
	position: static;
	float: left;
	// width: 39%;
	width: 94%;
	// margin-left: 3%;
	// top: 25%;
	// right: 10%;
	min-width: 320px;
	font-family: $standard;
	text-align: center;
	// display: none;
	.left {
		margin: 2% 0 0 10%;
		text-align: left;
	}
	li {
		margin-left: 10%;
		/*list-style: none;*/
		font-size: 1.2em;
	}
	div {
		margin: 5% 0;
	}
}
@media (min-width: 340px) {
	.graphic {
		margin-left: 3%;
	}
}

@media (min-width: 768px) {
	.graphic {
		position: absolute;
		width: 50%;
		margin-left: 3%;
		right: 3%;
	}
}

@media (min-width: 960px) {
	.graphic {
		// right: 10%;
	}
}

.column {
	width: 46%;
	float: left;
	padding: 0 2%;
}

.lectureQuestion {
	@include fullStripe;
	.commentDisplay {
		padding-top: 20px;
		padding-right: 20px;
		font-size: .8em;
		border-radius: 5px;
		background-color: #fff;
		overflow: scroll;
		height: 500px;
		p {
			padding: 0 0 0 6%;
			color: black;
		}
		div {
			margin-bottom: 5%;
		}
	}
	.commentDate {
		padding-left: 2%;
		font-size: .7em;
	}
}

#section_1 {
	@include section(black);
	@include backgroundImageStyle('limbo_5.jpg');
}

#sub_section_1 {
	@include colorrgb;
}

#section_2 {
	@include backgroundImageStyle('limbo_5.jpg');
}

#section_2_overlay, #section_2b_overlay {
	@include section($color2);
	@include color2rgb;
}

.sub_section_2 {
	color: white;
	@include backgroundImageStyle('limbo_5.jpg');
}

#section_3 {
	@include backgroundImageStyle('limbo_1.jpg');
}

.sub_section_3 {
	@include color2rgb;
}

#section_4 {
	@include backgroundImageStyle('limbo_1.jpg');
}

#section_4_overlay {
	@include section($color);
	@include colorrgb;
}

#sub_section_4 {
	@include backgroundImageStyle('limbo_1.jpg');	
  color: #fff;
}

#section_5 {
	@include backgroundImageStyle('limbo_3.jpg');
}

.sub_section_5 {
	@include colorrgb;
}

#section_6 {
	@include backgroundImageStyle('limbo_3.jpg');	
}

#section_6_overlay {
	@include colorrgb;
	overflow: auto;
	/*height: 300px;*/
}


#section_6b {
	@include backgroundImageStyle('limbo_3.jpg');
}

.sub_section_6b {
	@include colorrgb;
}

#sub_section_6 {
  color: $color;
	@include backgroundImageStyle('limbo_3.jpg');
/*	background: image-url('limbo_3.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  /*height: 1000px;*/
}


.section .attribution {
	padding: 0 10% 5%;
}

#comment_response_section_1 {
	/*opacity: 0;*/
}

form {
	padding-bottom: 10%;
	input {
		outline: 5px solid #aaa;
	}
	textarea {
		font-family: $standard;
		margin: 10px 0;
		border: none;	
		width: 100%;
		height: 200px;
		background-color: #fff;
		border-radius: 5px;
		padding: 2%;
	}
	input[type="submit"] {
		@include button;
		display: block;
		margin: auto;
	}
	h3 {
		margin: 15px 0 5px 0;
	}

}

.videoWrapper {
	img {
		width: 100%;
	}
}

.videoContainer {
	@include fullStripe;
	.secondColumn {
		text-align: center;
		// img {
		// 	width: 100%;
		// }
		.videoWrapper {
			width: 100%;
			// max-width: 700px;
			iframe {
				// max-width: 824px;
			}
		}
	}
}

.emptyDiv {
	height: 500px;
}

footer {
	background-color: $color2;
	color: $color3;
	padding: 1%;
	font-family: $standard;
	font-size: .8em;
}


.three_section_1 {
	@include section(black);
	@include backgroundImageStyle('big-night-1.jpg');
}

.three_section_2 {
	@include backgroundImageStyle('big-night-1.jpg');
}

.three_sub_section {
	@include colorrgb;
}

.four_section_1 {
	@include section(black);
	@include backgroundImageStyle("silence-of-the-lambs3.jpg");
}

.four_section_2 {
	@include backgroundImageStyle("silence-of-the-lambs3.jpg");
}

.sub_section {
	@include colorrgb;
}


.quoteIndentation {
	margin: 0 10%;
}

.five_section_1 {
	@include section(black);
	@include backgroundImageStyle('bookie1.jpg');
}

.five_section_2 {
	@include section(black);
	@include backgroundImageStyle('bookie2.jpg');
}

.six_section_1 {
	@include section(black);
	@include backgroundImageStyle('bookie1.jpg');
}

.six_section_2 {
	@include section(black);
	@include backgroundImageStyle('thrones-1.jpg');
}

.six_section_3 {
	@include section(black);
	@include backgroundImageStyle('alien3.jpg');
}

.six_section_4 {
	@include section(black);
	@include backgroundImageStyle('oldjoy2.jpg');
}

.seven_section_2 {
	@include section(black);
	@include backgroundImageStyle('2001-5.jpg');
}

.seven_section_3 {
	@include section(black);
	@include backgroundImageStyle('2001-4.jpg');
}

.eight_section_1 {
	@include section(black);
	@include backgroundImageStyle('2001-2.jpg');
}

.eight_section_2 {
	@include section(black);
	@include backgroundImageStyle('2001-5.jpg');
}

.eight_section_3 {
	@include section(black);
	@include backgroundImageStyle('2001-4.jpg');
}

.eight_section_4 {
	@include section(black);
	@include backgroundImageStyle('no_country_1.jpg');
}

.nine_section_2 {
	@include section(black);
	@include backgroundImageStyle('no_country_2.jpg');
}

.nine_section_3 {
	@include section(black);
	@include backgroundImageStyle('no_country_3.jpg');
}

.nine_section_4 {
	@include section(black);
	@include backgroundImageStyle('mulholland_1.jpg');
}

.ten_section_1 {
	@include section(black);
	@include backgroundImageStyle('mulholland_drive_2.jpg');
}

.ten_section_2 {
	@include section(black);
	@include backgroundImageStyle('mulholland_drive_3.jpg');
}

.ten_section_3 {
	@include section(black);
	@include backgroundImageStyle('gummo_1.jpg');
}

.eleven_section_1 {
	@include section(black);
	@include backgroundImageStyle('tokyo_1.jpg');
	background-position: bottom left;
}
.eleven_section_2 {
	@include section(black);
	@include backgroundImageStyle('tokyo_3.jpg');
}
.eleven_section_3 {
	@include section(black);
	@include backgroundImageStyle('tokyo_5.jpg');
	background-position: bottom left;
}

.twelve_section_1 {
	@include section(black);
	@include backgroundImageStyle('code-unknown2.jpg');	
}
.twelve_section_2 {
	@include section(black);
	@include backgroundImageStyle('code-unknown.jpg');	
}
.fourteen_section_2 {
	@include section(black);
	@include backgroundImageStyle('myewk_1.jpg');	
}
.fifteen_section_2 {
	@include section(black);
	@include backgroundImageStyle('largent.jpg');	
}

.stagecoach_section_1 {
	@include section(black);
	@include backgroundImageStyle('stagecoach_01.jpg');	
}

.killer_section_1 {
	@include section(black);
	@include backgroundImageStyle('killer_1.jpg');	
}
.killer_section_2 {
	@include section(black);
	@include backgroundImageStyle('killer_1.jpg');	
}
.killer_section_3 {
	@include section(black);
	@include backgroundImageStyle('noir.jpg');	
}
.killer_section_4 {
	@include section(black);
	@include backgroundImageStyle('killer_heads.jpg');	
}
.dogma_section_1 {
	@include section(black);
	@include backgroundImageStyle('dogma_1.jpg');	
}
.mother_section_1 {
	@include section(black);
	@include backgroundImageStyle('mother_01.jpg');	
}
.picnic_section_1 {
	@include section(black);
	@include backgroundImageStyle('picnic_feet.jpg');	
}
.picnic_section_2 {
	@include section(black);
	@include backgroundImageStyle('picnic_mannequins_inverse.jpg');	
}

.picnic_section_3 {
	@include section(black);
	@include backgroundImageStyle('picnic_mannequins.jpg');	
}

.picnic_section_4 {
	@include section(black);
	@include backgroundImageStyle('picnic_miranda_rock.jpg');	
}

.orientation_section_1 {
	@include section(black);
	@include backgroundImageStyle('noir.jpg');	
}

.mwmc_section_1 {
	@include section(black);
	@include backgroundImageStyle('mwmc_filmstrip.jpg');	
}

.mwmc_section_2 {
	@include section(black);
	@include backgroundImageStyle('mwmc_eye.jpg');	
}

.mwmc_section_3 {
	@include section(black);
	@include backgroundImageStyle('mwmc_eye.jpg');	
}

.birds_section_1 {
	@include section(black);
	@include backgroundImageStyle('birds_playground.jpg');
}

@media print {
	p {
		font-size: 14px !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	h3 {
		font-size: 14px !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.secondColumn {
		display: none !important;
	}
	.videoContainer {
		padding: 0 !important;
		margin: 0 !important;
	}

	.lectureQuestion {
		display: none;
	}
	iframe {
		display: none;
	}

	.column {
		margin: 0 !important;
		padding: 0 !important;
	}

}