$bannerFont: "Special Elite";
/*$standard: "News Cycle";*/
$standard: "Pontano Sans";
/*
$color: #fdff73;
$color2: #ffc273;
$color3: #ff9a40;
*/
$color: #e9e7c6;
$color2: #bbb;
$color3: #8c8851;

$buttonColor: #bf3030;

@mixin backgroundImageStyle($imageUrl) {
	background: image-url($imageUrl) no-repeat top left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin bodyText {
	font-family: $standard;
	p {
		padding: 0 9%;
		padding-bottom: 10%;
		font-size: 1.2em;
		line-height: 2em;
	}
	h3 {
		padding: 10% 13%;
		margin: 0;
	}
}

@mixin fullStripe {
	@include bodyText;
	@include color3rgb;

	.secondColumn {
		padding-left: 5%;
		padding-bottom: 5%;
	}

	padding: 2% 0 1% 0;
	color: black;
	overflow: auto;
	position: relative;
	z-index: 10;
}

@mixin color2rgb {
	/*background-color: rgba(255,194,115, .9);	*/
	background-color: rgba(230,230,230, .9);	
}

@mixin colorrgb {
	/*background-color: rgba(253,255,115, .9);	*/
	background-color: rgba(224,224,224, .9);	
}

@mixin color3rgb {
	/*background-color: rgba(255, 154, 64, .9);*/
	background-color: rgba(140,140,140, .9);
}

@mixin section($color) {
	width: 100%;
	background-color: $color;
	overflow: auto;
}
@mixin button {
	font-family: $standard;
	background-color: $buttonColor;
	outline: none;
	border: none;
	padding: 10px;	
	color: #fff;
	border-radius: 5px;
	&:hover {
		background-color: lighten($buttonColor, 15%);
		cursor: hand; cursor: pointer;
	}
}

body, div, h1, h2, form, fieldset, input, textarea, footer, p, img {
    margin: 0; padding: 0; border: 0; outline: none;
}

a { 
	text-decoration:none; color: #fff;
	&:hover {
		color: yellow;
	}
}

body {
	background-color: #000;
	margin: 0;
}

span.gap {
	margin: 2%
}

#lectureNavbar {
	position: fixed;
	z-index: 20;
	background-color: #fff;
	width: 100%;
	padding: 0 5%;
	.inline {
		display: inline-block;
	}
	a {
		font-family: $standard;
		color: green;
		text-decoration: none;
		&:hover {
			color: orange;
		}
	}
	h2 {
		font-family: $bannerFont;
		margin-top: .5%;
	}
	button {
		@include button;
		float: right;
		margin: 1% 5% 1% 1%;
	}
}

#lectureContainer {
	overflow: auto;
}

.navbar_link {
	width: 150px;
	float: right;
	margin: 1% 0;
}

.section {
	float: left;
	font-family: $standard;
	min-width: 350px;
	width: 45%;
	/*margin-left: 10%;*/
	color: #000;
	p {
		padding: 0 13%;
		padding-bottom: 10%;
		font-size: 1.2em;
		line-height: 2em;
	}
	h3 {
		padding: 10% 13%;
		margin: 0;
	}
	.first_paragraph {
		padding-top: 25%;
	}
}

.sectionContainer {
	overflow: auto;
	min-width: 760px;
	width: 100%;
	margin: auto;
	/*background-color: gray;*/
}

#graphic_section_1 {	
	color: black;
	font-size: 2em;
}

.powerpoint {
	min-width: 350px;
	border: $color3 4px solid;
	background-color: $color;
	border-radius: 5px;
	padding: 2%;
	z-index: 5;
	opacity: .9;
}

.graphic {
	position: fixed;
	width: 39%;
	top: 25%;
	right: 10%;
	min-width: 350px;
	font-family: $standard;
	text-align: center;
	.left {
		margin: 2% 0 0 10%;
		text-align: left;
	}
	li {
		margin-left: 10%;
		/*list-style: none;*/
		font-size: 1.2em;
	}
	div {
		margin: 5% 0;
	}
}

#section_1 {
	@include section(black);
	@include backgroundImageStyle('limbo_5.jpg');
}

#sub_section_1 {
	@include colorrgb;
}

#section_2 {
	@include backgroundImageStyle('limbo_5.jpg');
}

#section_2_overlay, #section_2b_overlay {
	@include section($color2);
	@include color2rgb;
}

.sub_section_2 {
	color: white;
	@include backgroundImageStyle('limbo_5.jpg');
}

#section_3 {
	@include backgroundImageStyle('limbo_1.jpg');
}

.sub_section_3 {
	@include color2rgb;
}

#section_4 {
	@include backgroundImageStyle('limbo_1.jpg');
}

#section_4_overlay {
	@include section($color);
	@include colorrgb;
}

#sub_section_4 {
	@include backgroundImageStyle('limbo_1.jpg');	
  color: #fff;
}

#section_5 {
	@include backgroundImageStyle('limbo_3.jpg');
}

.sub_section_5 {
	@include colorrgb;
}

#section_6 {
	@include backgroundImageStyle('limbo_3.jpg');	
}

#section_6_overlay {
	@include colorrgb;
	overflow: auto;
	/*height: 300px;*/
}


#section_6b {
	@include backgroundImageStyle('limbo_3.jpg');
}

.sub_section_6b {
	@include colorrgb;
}

#sub_section_6 {
  color: $color;
	@include backgroundImageStyle('limbo_3.jpg');
/*	background: image-url('limbo_3.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  /*height: 1000px;*/
}


.column {
	width: 46%;
	float: left;
	padding: 0 2%;
}

.lectureQuestion {
	@include fullStripe;

	.commentDisplay {
		font-size: .8em;
		background-color: #fff;
		overflow: scroll;
		height: 500px;
		color: black;
		p {
			padding: 0 0 0 6%;
		}
		div {
			margin-bottom: 5%;
		}
	}
	.commentDate {
		padding-left: 2%;
		font-size: .7em;
	}
}

.attribution {
	margin-left: 4%;
}

#comment_response_section_1 {
	/*opacity: 0;*/
}

form {
	padding-bottom: 10%;
	input {
		outline: 5px solid #aaa;
	}
	textarea {
		font-family: $standard;
		margin: 10px 0;
		border: none;	
		width: 100%;
		height: 200px;
		background-color: #fff;
	}
	input[type="submit"] {
		@include button;
		display: block;
		margin: auto;
	}
	h3 {
		margin: 15px 0 5px 0;
	}

}

.videoContainer {
	@include fullStripe;
	.secondColumn {
		text-align: center;
	}
}

.emptyDiv {
	height: 500px;
}

footer {
	background-color: $color2;
	color: $color3;
	padding: 1%;
	font-family: $standard;
	font-size: .8em;
}


.three_section_1 {
	@include section(black);
	@include backgroundImageStyle('big-night-1.jpg');
}

.three_section_2 {
	@include backgroundImageStyle('big-night-1.jpg');
}

.three_sub_section {
	@include colorrgb;
}

.four_section_1 {
	@include section(black);
	@include backgroundImageStyle("silence-of-the-lambs3.jpg");
}

.four_section_2 {
	@include backgroundImageStyle("silence-of-the-lambs3.jpg");
}

.sub_section {
	@include colorrgb;
}


.quoteIndentation {
	margin: 0 10%;
}

.five_section_1 {
	@include section(black);
	@include backgroundImageStyle('bookie1.jpg');
}

.five_section_2 {
	@include section(black);
	@include backgroundImageStyle('bookie2.jpg');
}

.six_section_1 {
	@include section(black);
	@include backgroundImageStyle('bookie1.jpg');
}

.six_section_2 {
	@include section(black);
	@include backgroundImageStyle('thrones-1.jpg');
}

.six_section_3 {
	@include section(black);
	@include backgroundImageStyle('alien3.jpg');
}

.six_section_4 {
	@include section(black);
	@include backgroundImageStyle('oldjoy2.jpg');
}

.seven_section_2 {
	@include section(black);
	@include backgroundImageStyle('2001-5.jpg');
}

.seven_section_3 {
	@include section(black);
	@include backgroundImageStyle('2001-4.jpg');
}

.eight_section_1 {
	@include section(black);
	@include backgroundImageStyle('2001-2.jpg');
}

.eight_section_2 {
	@include section(black);
	@include backgroundImageStyle('2001-5.jpg');
}

.eight_section_3 {
	@include section(black);
	@include backgroundImageStyle('2001-4.jpg');
}

.eight_section_4 {
	@include section(black);
	@include backgroundImageStyle('no_country_1.jpg');
}

.nine_section_2 {
	@include section(black);
	@include backgroundImageStyle('no_country_2.jpg');
}

.nine_section_3 {
	@include section(black);
	@include backgroundImageStyle('no_country_3.jpg');
}

.nine_section_4 {
	@include section(black);
	@include backgroundImageStyle('mulholland_1.jpg');
}
@media (min-width:320px) { 
/* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (max-width:481px) { 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.section {
		width: 100%;
	}
}
@media (max-width: 860px) { 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	.graphic {
		display: none;
	}
	.sectionContainer {
		min-width: 350px;
	}
	.secondColumn {
		width: 90%;
	}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }