/*$primary-font: "Special Elite";*/
/*$primary-font: "Patrick Hand SC";*/
$primary-font: "Pompiere";
$secondary-font: "Special Elite";
$tertiary-font: "Karla";

$primaryWidth: 60%;

/*$backgroundColor: #666;*/
/*$backgroundColor: #253f72;*/

$backgroundColor: #7085ad;
$midLightColor: #aebcd7;

@mixin backgroundrgba($opacity) {
	background-color: rgba(62,83,123, $opacity);
}


@mixin flash($color) {
	position: absolute;
	top: 50px;
	left: $primaryWidth/3;
	width: $primaryWidth;
	margin: 10px auto;
	padding: 5px;
	font-family: $secondary-font;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: $color;
}

@mixin roundedButtons {
	border-radius: 15px;
	outline: none;
	border: none;
	color: #fff;
	background-color: darken($backgroundColor, 10%);
	&:hover {
		background-color: $backgroundColor;
		cursor: pointer; cursor: hand;
	}
}

span {
	font-family: $secondary-font;
	margin: 0 1%;
}

body {
	margin: 0;
	/*background-color: $backgroundColor;*/
	background: image-url('mochaGrunge.png');
}

p {
	margin-top: 0;
	font-family: $secondary-font;
}

a {
	font-family: $secondary-font, sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: darken($backgroundColor, 30%);
	&:hover {
		color: $backgroundColor;
	}
}

.navbar {
	margin: 15px 30px 0 0;
	display: inline-block;
}

li {
	font-family: $secondary-font, sans-serif;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: $secondary-font, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}


.pull-right {
	float: right;
}

.inline {
	display: inline;
	/*background-color: blue;*/
}

.brand {
	display: inline-block;
	font-size: 1.6em;
	margin: .5% 0 0 2%;
	font-family: $primary-font, sans-serif;
	color: darken($backgroundColor, 30%);
}

#navBackground {
	background: image-url('mooning.png');

}

nav {
	width: 100%;
	height: 50px;
	/*background-color: #aaa;*/
	/*background: image-url('yellowtrans.png');*/
	/*background-color: rgba(0, 128, 255, .2);*/
	opacity: .8;
	border-bottom: 5px #333 solid;
	a:hover {
		color: #fff;
	}
}

.dropdown {
	display: none;
	width: 12%;
	background: image-url('mooning.png');
	/*background-color: #aaa;*/
	position: absolute;
	right: 0;
	top: 50px;
	/*border: 5px solid #343459;*/
	border: 5px solid #444;
	ul {
		list-style: none;
		text-align: right;
		margin-right: 10%;
		li {
			margin: 6px 0;
		}
	}
	.dropdown-divider {
		border-top: solid 1px #E5E5E5;
		margin: 5px 0;
	}
}

/*.navLine {
	width: 100%;
	height: 5px;
}

.navLineTop {
	background-color: #666;
}

.navLineMiddle {
	background-color: #333;
}

.navLineBottom {
	background-color: #ccc;
}*/

.attemptQuestions {
	margin-top: 3%;
}

.links {
	margin: 0 10px;
}

.quizLinks {
	float:left;
	/*width: 10%;*/
	margin: 0 2% 0 2%;
}

.quizListing {
	overflow: auto;
	background-color: rgba(255,255,255,.7);
	padding: 2%;
	margin: 1%;
	width: 90%;
}

.quizName {
	float: left;
	width: 18%;
}

.quizDate {
	float: left;
	width: 30%;
}


.unit {
	background-color: rgba(255,255,255, .7);
	padding: 2%;
	margin: 1%;
}

#linkbar {
	width: 100%;
	margin-top: 1%;
	margin-bottom: 2%;
	border-bottom: 2px solid #999;
/*	h2 {
		display: inline;
	}*/
}

.linkbarLinks {
	width: 100%;
	text-align: center;
}

.linkbarTitle {
	margin: 0 0 2% 3%;
}

.linkbar_left {
	margin: 0 13% 0 0;
}
.linkbar_right {
	margin: 0 0 0 13%;
}

.linkbar_middle {
	margin: 0 8%;
}

/*---- forms ----*/

label {
	font-family: $secondary-font, sans-serif;
	font-size: 1em;
	margin: 0 10px;
}

form {
	/*background-color: orange;*/

	input {
		outline: 5px solid darken($backgroundColor, 10%);
		margin: 10px 0;
		font-family: $tertiary-font;
		line-height: 150%;
	}

	textarea {
		outline: 5px solid $backgroundColor;
		margin: 10px 0;
		font-family: $tertiary-font;
		border: none;	
		width: 84%;
		height: 40px;
	}

	input[type="submit"] {
		@include roundedButtons;
		padding: 1% 3%;
		margin-top: 25px;
		margin-left: 70px;
		font-size: 1em;
	}

	input[type="checkbox"] {
		outline: none;
	}

	input[type="radio"] {
		outline: none;
	}

	input[value="Send me reset password instructions"] {
		margin-left: 0;
	}
	input[value="Resend confirmation instructions"] {
		margin-left: 0;
	}

	h3 {
		margin: 15px 0 5px 0;
	}

	#quiz_duration {
		width: 50px;
	}
	.points {
		width: 5%;
	}

	.textArea {
		display: inline-block;
		width: 80%;
		margin-top: 2%;
		label {
			vertical-align: top;
		}
		textarea {
			vertical-align: bottom;
		}
	}

	.formLabel {
		margin-left: 3%;
	}
}

input[type="submit"].button {
	@include roundedButtons;
	width: 100px;
	height: 30px;
	font-size: 1em;
	margin: 4% 4% 4% 6%;
	padding: 0;
}

#question_points {
	width: 3%;
}

#markGraded {
	margin-left: 5%;
}

/*----- content containers -----*/
.container-fluid {
	width: 100%;
	overflow: auto;
	background-color: rgba(112, 133, 173, 0.4);
	/*background: url('bg.jpg') no-repeat top center fixed; */
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.contentContainer-fluid {
	width: 60%;
	margin: 8% auto;
	/*margin-bottom: 10%;*/
}

.sidebar {
	display: none;
	width: 20%;
	min-width: 150px;
	float: left;
	background-color: #ccc;
	padding: 2%;
	margin-top: 2% ;
	border-radius: 5px;
	border: 5px solid #fff;
	opacity: .9;
}

.contentInterior {
	width: 85%;
	min-width: 195px;
	min-height: 400px;
	margin: auto;
	/*float: left;*/
	padding: 2%;
	margin-top: 2% ;
	opacity: .9;
	/*border-radius: 5px;*/
	border: 5px solid #fff;
	/*background-color: lighten($backgroundColor, 10%);*/
	background: image-url('mooning.png');
}

#formContainer {
	width: 43%;
	float: left;
	/*background-color: red;*/
	padding: 2% 1%;
}

#questionContainer {
	width: 45%;
	float: left;
	margin-left: 1%;
	padding: 1% 3% 1% 0;
	h3 {
		margin: 0;
	}
	ul {
		font-size: .8em;
		margin: 1% 0 1% -40px;
	}
	li {
		display: inline-block;
		border: 4px darken($backgroundColor, 25%) solid;		
		background-color: lighten($backgroundColor, 30%);
		/*background-color: #bbb;*/
		margin: 3px 0;
		padding: 3px;
		color: #000;
		width: 85%;
		height: 30px;
		a:hover {
			color: darken($backgroundColor, 60%);
		}
		.questionLink {
			display: inline-block;
			margin-top: 5px;
		}
	}

	.questionLinks {
		font-family: $tertiary-font;
	}

	li.disabledLinks {
		opacity: .4;
		a:hover {
			color: #666;
			cursor: default;
		}
	}
	/*margin-left: 5%;*/
}

#linkbarLinks.disabledLinks {
	opacity: .4;
	a {
		&:hover {
			color: #666;
			cursor: default;
		}
	}	
}

a.disabledLinks {
	/*background-color: #666;*/
	opacity: .4;
	&:hover {
		color: #666;
		cursor: default;
	}
}

#questionContainer li.dragAndDrop {
	background-color: #cd6767;
	border: 4px #444 solid;
	cursor: pointer; cursor: hand;
	a {
		color: #fff;
	}
}

#addQuestionForm {
	width: 94%;
	padding: 3%;
	background-color: rgba(0, 0, 0, .2);
	display: none;
	textarea, input {
		outline: none;
		border: 5px solid darken($backgroundColor, 20%);
	}
	input[type="submit"] {
		padding: 1% 3%;
		border: none;
	}
}

.deleteButton {
	font-family: $tertiary-font;
	display: inline-block;
	background-color: #f77;
	color: #fff;
	text-align: center;
	width: 20px;
	height: 20px;
	border: solid #666 5px;
	cursor: pointer; cursor: hand;
	display: none;
}

#answersForm {
	display: none;
}

.answersField {
	width: 45%;
}

#timer {
	background: #555;
	width: 15%;
	text-align: center;
	padding: 3%;
	font-size: 1.5em;
	border-radius: 5px;
	color: #fff;
}

.green {
	color: #0a0;
}

#floatContainer {
	/*min-height: 320px;*/
	overflow: auto;
	margin-bottom: 3%;
}

/*#interiorSecondary {
	display: none;
	width: 0;

	margin-left: 2%;
	padding: 2%;
	opacity: .9;
	border-radius: 5px;
	background-color: #888;
}
*/
footer {
	color: darken($backgroundColor, 20%);
	padding: 2% 4%;
	background: image-url('mooning.png');
	/*background-color: lighten($backgroundColor, 30%);*/
	/*background-color: #aaa;*/
	height: 30px;
}

#pageTitle {
	text-align: center;
	width: 60%;
	margin: auto;
	h1 {
		color: #ddd;
	}
}

/*------ flash -----*/
#alerts {
	display:none;
}

#flash_alert, #alerts {
	@include flash(#bc5656);
	/*background-color: #b60;*/
}

#flash_error {
	@include flash(#f00);
	/*background-color: #f00;*/
}

#flash_notice {
	@include flash(#0b0);
	/*background-color: #0b0;*/
}

#error_explanation {
	display: none;
	background-color: #bc5656;
	/*background-color: #b60;*/
	padding: 2% 2% 2% 6%;
	border-radius: 5px;
	color: #fff;
	margin: 2% 0 3% 0;
	h4 {
		color: #ddd;
	}
	.close {
		float: right;
	}
	a {
		color: #ccc;
		&:hover {
			color: #fff;
			cursor: hand; cursor: pointer;
		}
	}
}

#new_quiz_btn {
	margin: 5% 7%;
}

.separation {
	margin-left: 10px;
}

#unit-form {
	h3 {
		color: #fff;
		margin: 0;
		display: inline;
	}
	display: none;
	/*@include backgroundrgba(.5);*/
	background-color: rgba(0,0,0,.2);
	padding: 4%;
	margin: 2%;
	border-radius: 5px;
	color: #fff;
	input {
		width: 20%;
	}
	input[type="checkbox"] {
		width: 4%;
	}

	.unitComponentList {
		overflow: auto;
		width: 90%;
		margin: 3% 0%;
		min-height: 200px;
		padding: 2%;
		/*background-color: brown;*/
	}
	.componentListItem {
		/*background-color: blue;*/
		float: left;
		width: 30%;
		margin-right: 2%;
	}
}



/*----- datepicker -----*/
.ui-datepicker {
	display: none;
	background-color: #fff;
	padding: 10px;
	border: 8px #666 solid;
	font-family: $secondary-font;
	a:hover {
		color: #aaa;
	}
	.ui-corner-all {
		margin-right: 10px;
		cursor: hand; cursor: pointer;
	}
}


/*-----media queries-----*/
@media screen and (max-width: 480px) {
	.sidebar{
		display: none;
	}
}