<%= form_for answer, :remote => true do |f| %>
	<div>
    <%= f.label :content %>
    <%= f.text_field :content, :placeholder => "Enter answer", :class => "inline" %>
    <!-- <div class="inline"><%= f.submit %></div> -->
  </div>
  
<% end %>