<h2>Quizzes</h2>
<div>
	<% if @attempts != [] %>
		<ul>
			<% @attempts.each do |attempt| %>
				<li>
					<%= attempt.quiz.name%>
					<span>–</span>
					<% if attempt.graded? %>
						<span><%= "Grade: #{attempt.score} / #{attempt.quiz.possible_points}"%></span>
					<% else %>
						<span><%= "Not yet graded" %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	<% else %>
		<p>You have no completed quiz attempts.</p>
	<% end %>
</div>