<div class="section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Lecture goes here.	
			</p>
		</div>
	</div>
</div>

<%= render 'shared/modal' %>