<div class="nine_section_4" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">MULHOLLAND DRIVE</h3>
			<p>
				I want to explore the state of confusion a bit. Typically, confusion is an unpleasant state. For that reason, most of the films that we watch go to great lengths to avoid instilling confusion in the viewer, continually reminding us of what’s happening in the story and who the characters are, continually giving us emotional cues through the soundtrack as to how we should be feeling at any given moment. <em>Mulholland Drive</em> is a film that actively courts confusion.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				In my personal experience, I’ve found that confusion can be a pleasant state if I feel that ––even though I may not understand what’s happening––there is <em>some</em> valid explanation for events. When I feel that my confusion exists because the film itself is muddled and confused, then the confusion is unpleasant and alienating, but if the director is able to convince me that he/she has some sense of the order of things, but is just actively hiding that from me, then confusion can be pleasant, largely because there is then a sense of anticipation toward uncovering the answers to my questions.
			</p>
			<p>
 				Although <em>Mulholland Drive</em> might seem like a somewhat extreme example of filmic disorientation, Lynch is actually working in the same vein as many other filmmakers. The idea of confusing the viewer, or at least creating questions in the viewer’s mind, is the root of all cinema, but especially the detective story/mystery/whodunnit. The difference lies in both the kinds of questions that he raises and the degree of closure that he provides to those questions. While the mystery film raises questions about what the causes or effects are for the events that we see, it assumes a foundational orientation in the world in which the events occur. Lynch, however, raises questions about the world of the film itself, depicting events that seem to contradict things we’ve seen earlier in the film, so that we are forced to question assumptions that we made and founded our entire understanding of the film on (“I thought her name was Betty. Why is she now Diane?”).
			</p>
			<p>
				What compounds this sense of confusion is the way that Lynch plays with our expectations. Lynch uses the style of traditional Hollywood. The look creates certain expectations, but those are not fulfilled. We watch his films expecting things to fall into place that never do. We see mafia members, but they don't engage in violence, and are not the prime movers. Instead, the powerful figure is dressed in a cowboy suit. We see a Hollywood director and an aspiring starlet exchange a meaningful glance, but nothing becomes of it. We see police detectives investigating the car wreck and we anticipate a chase, but nothing follows that thread. This takes us back to the first few weeks of the semester where we discussed the role of conventions and the way that filmmakers are engaged in a dialog with all the other films that we’ve seen previously. 
			</p>
		</div>
	</div>
</div>
<div class="ten_section_1">
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3>CHRONOLOGY</h3>
			<p>
				The foundation of Lynch’s puzzle in <em>Mulholland Drive</em> is built primarily around the way that he manipulates chronology in the film. We mentioned last week that the puzzle film is exceptionally dependent on the discourse decisions of the filmmaker: how the director chooses to cut up and present the events of the film. In <em>Mulholland Drive</em>, Lynch presents the events to us out of order. If we mentally rearrange the events into their chronological order, we’ll discover that everything pretty much falls into place and an oriented chain of cause-and-effect events takes shape. 
			</p>
			<p>
				Here’s the basic story Lynch is telling:
				Diane is an aspiring, yet mediocre, actress. She’s in love with Camilla. Camilla spurns her for her director. Diane takes revenge by hiring a hit man. When she sees the blue key––the sign that the hit’s been carried out––she’s wracked with guilt, and in a fever dream her brain takes all the pieces of her recent life and rearranges them into a fantasy scenario where everything works out the way she wanted it to. However, even in her fantasy, the reality of her situation finds a way to insert itself back into her dream. She awakens, tortured by thoughts of her past, her failures, her parents, and she commits suicide. 
			</p>
			<p>
				Lynch takes this basic storyline and makes some strategic decisions about which events to include and in what order. Critically, Lynch chooses to enter the story very late in the story time during the moments when Diane is wracked with guilt and remembering her family and the dance contest that led to her moving to Hollywood. Then we see a POV shot of the pillow as Diane falls into bed. Even though we’re given this information, we don’t know how it fits in the story, so we more or less forget about it as we enter Diane’s dream and watch what we think is the world of the film. Lynch is taking advantage of a feature of our psychology where we tend to believe what we’re told first. In this case, the world we’re presented with first is a fantasy, but we think it’s reality. Through the dream, we’re presented with most of the events of the real story, but they’re filtered and distorted, out of order and with different cause-and-effect relationships. 
			</p>
			<p>
				When we finally return to the actual world of the story nearly two hours later, we’re completely disoriented because we see all the pieces of the world we’re familiar with rearranged into what feels like the “wrong” order. To make any sense out of what’s happening, we have to take a very active role, comparing the elements from each world and trying to see how they relate (the blue key, the name changes, the various characters at the party who figure prominently in the dream). 
			</p>
			<p>
				If Lynch had presented the events to us in chronological order, we’d have had far fewer questions about what was happening (and the film would have been far less interesting). Lynch had a story to tell, and he hit on a conceit that would maximize the visceral impact of that story involving highly restricted narration and a manipulation of chronology. 
			</p>
		</div>
	</div>
</div>
<div class="ten_section_2">
	<div class="sectionContainer">
		<div class="sub_section section">			
			<h3>PARADIGM SHIFT</h3>
			<p>
				This approach of having an occurrence that forces the viewer to reevaluate everything she’s seen up until this point has a name––the paradigm shift. A paradigm is a system of order. In a film this amounts to the viewer’s understanding of the state of affairs and the rules that govern that order. The way a paradigm shift is usually handled is that the filmmaker sketches out the details of the world of the film but leaves enough ambiguity that the viewer has to make certain (incorrect) assumptions about the world. Eventually something happens to cause disorientation and reveal that the viewer’s assumptions were wrong and the viewer has to reevaluate what she’s seen. A classic example of this is the scene from <em>The Matrix</em> when Keanu Reeves takes the red pill. Suddenly he wakes up to a reality that’s completely different from what we’ve seen thus far and we have to think back through our experience of the film until this point to see that the reality that we thought existed was an illusion.
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				The paradigm shift can occur on the macro scale of the reality of the film itself, or it can also be used on the micro scale of an individual scene. In this scene from <em>Pulp Fiction</em> (which we drew attention to in Film 210 for those who’ve taken the class), the viewer follows the Bruce Willis character into a scene and makes certain assumptions about the state of affairs in his apartment. Then suddenly something occurs which forces us to reevaluate our assumptions. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/40966821?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="303" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The strategy of the paradigm shift is interesting because it’s an instance where the filmmaker is actively promoting disorientation, however brief, in the viewer in order to achieve a specific effect. <em>Mulholland Drive</em> is actually using a very similar approach to that used by <em>The Matrix</em>. It’s just that the disorientation provoked by <em>The Matrix</em> is quickly dispelled and replaced with understanding, whereas in <em>Mulholland Drive</em> that disorientation is allowed to linger.
			</p>
			<h3>COHERENCE</h3>
			<p>
				This week we’re tackling a film that will raise questions about what it is that causes a film to cohere.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				There are a number of aspects of a film that can create a sense of coherence. Typically, we’re following the same characters through the story, so the consistency of their presence is one thread that creates a sense of coherence. We’re also usually somewhat aware of the setting in which the story is taking place, and that sense of orientation in the setting of the story can help the story cohere. But by far the most common source for our sense of a film’s coherence is the cause-and-effect chain. The more tightly the chain is linked, the easier it is to see how each cause leads to an effect which in turn becomes the cause of a new effect, the greater our sense that the story exists as a coherent whole. 
			</p>
			<p>
				If we see the parts of a film, and don’t understand how they fit together, we might consider the film to be incoherent. You may have felt that <em>Mulholland Drive</em> was incoherent. Perhaps it seemed that the different parts of the film didn’t connect with each other or contradicted one another. The first half of the film feels relatively coherent, but then there are several confusing scenes that seem incoherent because we can’t at the time fit them into the world as we currently understand it (the man reciting his dream at Winkie’s, the inept hit man, etc). Only when we get to the second part of the film do we discover the way that those scenes actually fit into the film (they’re aspects of Diane’s “real” experience that her subconscious has woven into her dream). Once we’ve decoded the film’s different parts and see how they all fit together, the overall storyline becomes more coherent.
			</p>
			<p>
				However, is a tightly-defined cause-and-effect chain the <em>only</em> way to create a coherent film? Throughout the history of cinema, there have been any number of filmmakers who did not want to work within the constraints of a rigidly defined cause-and-effect chain. Many movements throughout cinematic history trace their origins to rebellion against accepted standards: the Soviet montage school, the Italian neo-realist tradition, the French New Wave, the 70's American independent movement of Coppola, Scorcese, Spielberg, etc.
			</p>
			<p>
				There are filmmakers who have found the rather neatly packaged element of narrative, where all the parts fit tidily together and things are nicely arranged by the end, to be offensive for various reasons. 
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>
</div>
<div class="ten_section_3">
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				One reason that modernist filmmakers might give as to why the tightly-connected style of Hollywood filmmaking is unpleasant to them is that it doesn’t reflect our experience of the world––particularly the fragmented, random experience of the world that has come to represent modernity. In most Hollywood films, every detail is freighted with meaning and portent that somehow comes into play at some future juncture of the story. But certainly that isn’t how we experience the world. Our lives are filled with insignificant, random details that we encounter and then forget because they play no role in later events. We're used to the idea that people we meet and events that occur will not necessarily hold some kind of significant role in our future lives, that things will not tie up neatly at some point. 
			</p>
			<p>
				If a filmmaker’s personal experience of the world does not fit the mold of a tightly unified series of cause-and-effect events, and yet that filmmaker wants to create a film true to his experience of the world, what options are there? Is it still possible to create a film that coheres on some level?
			</p>
			<p>
				This is the question Harmony Korine wrestles with in this week’s film <em>Gummo</em>. In particular, Korine is rather explicitly attacking the idea of order. Not just order in the real world, but also the way that order is typically found in Hollywood films, a kind of hyper-defined, overly stringent, and predictable order of story structure. 
			</p>
			<p>
				In order to tackle this question of how to represent meaninglessness, I want to include a few paragraphs from the writer Annie Dillard in which she wrestles with exactly this question: what constitutes unity and coherence in artwork that wants to represent a seemingly incoherent world? Or phrased another way: “When is a work ‘about’ meaninglessness, and when is it simply meaningless?” Though Dillard is a writer, and she’s talking about literature, her ideas apply equally well to cinema. 
			</p>
			<p class="quoteIndentation">
				“If the writer's honest intention is to recreate a world he finds meaningless, must his work then be meaningless? If he writes a broken book, is he not then a bad artist? On the other hand, if he unifies a world he sees as shattered, is he not dishonest? All this is an old problem for any writer, for a traditional one as well as a contemporary one. Stated broadly, the question is, What is negative art? What can it be? What can a writer do when his intention is to depict seriously a boring conversation? Must he bore everybody? How should he handle a dull character, a hateful scene? (Everyone knows how the hated voice of a hated character can ruin a book.) Or, in the big time. how can a writer show, as a harmonious, artistic whole, times out of joint, materials clashing, effects without cause, life without depth, and all history without meaning?
			</p>
			<p class="quoteIndentation">
				“. . . . The only real solution is this, which obtains in all art: the writer makes real artistic meaning of meaninglessness the usual way, the old way, by creating a self-relevant artistic whole. He produces a work whose parts cohere. He imposes a strict order upon chaos, And this is what most contemporary modernist fiction does. Art may imitate anything but disorder. The work of art may, like a magician's act, pretend to any degree of spontaneity, randomality, or whimsy, so long as the effect of the whole is calculated and unified. No subject matter whatever prohibits a positive and unified handling . . . . In this structural unity lies integrity, and it is integrity which separates art from nonart.
			</p>
			<p class="quoteIndentation">
				“Let me tread shaky ground in order to insert a note from Rene Magritte on this business of integrity. Any juxtaposition may be startling. Narrative collage is a cheap source of power, An onion ring in a coffin! Paul of Tarsus and Shelly Hack! We can all do this all day. But in the juxtaposition of images, as in other juxtapositions, there is true and false, says Magritte. Magritte says we know birds in a cage. The image gets more interesting if we have, instead of a bird, a fish in the cage, or a shoe in the cage; ‘but though these images are strange they are unhappily accidental, arbitrary. It is possible to obtain a new image which will stand up to examination through having something final, something right about it: it's the image showing an egg in the cage.’
			</p>
			<p class="quoteIndentation">
				“Now, what do we make of this curious assertion of Magritte's, that surrealist images may be right or wrong? What can be right about a surrealist image? I am certainly not going to endorse as an artistic criterion Magritte's vague, emotional phrase ‘something right about it.’ But I do endorse his notion that the right image will ‘stand up to examination.’ After all, there is nothing too mysterious about the rightness of an egg's replacing a bird. The two have met. In other words, the ‘something right’ which ‘will stand up to examination’ is ordinary unity. Notice that Magritte's surrealism by no means intends to traffic in ‘accidental’ or ‘arbitrary’ images. He uses these words to damn. Must arbitrariness always be damning? Must it forever be out of bounds not as a subject but as a technique? I think so.
			</p>
			<p class="quoteIndentation">
				“...In all the arts, coherence in a work means that the relationship among parts--the joined framework of the whole--is actual, solid, nailed down.”
			</p>	
			<p>
				<em>Gummo</em>, by Harmony Korine, is an aggressively nihilistic film that attempts to rebel against the constraints and ideals of traditional narrative structure. It actively violates the majority of traditional rules of narrative and may stretch to the breaking point the definition of what constitutes narrative. However, I’m going to argue that the film itself is not random or meaningless. That, in fact, Korine has replaced the traditional structural components of cause-and-effect with other elements that provide some degree of coherence and unity. (If the above description didn't already clue you in to this fact, let me warn you that <em>Gummo</em> is probably going to be the most challenging film we'll watch this semester. I'm not presenting it as a fun-filled joyride but rather as a good learning opportunity.)
			</p>
			</div>
		</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				As you watch the film this week, try to think about these questions: What holds this film together? If you don’t find a cause-and-effect relationship between individual scenes, can you find other types of connections? Similar ideas or themes? What types of things are repeated throughout the film, and how might they provide for some sort of unity?
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72594753?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="374" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
</div>

<%= render 'shared/modal' %>
