<div class="four_section_1" >
	



	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Let’s take a moment to revisit last week’s film <em>Big Night</em> by Stanley Tucci. In particular, I’d like to talk briefly about the ending of the film. 	
			</p>
		</div>
	</div>


	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Take a moment to think back on the ending (or watch it again here).
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/74537077?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>

	<div class="four_section_2">
		<div class="lectureQuestion">
			<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				This ending is a little bit unusual for a few reasons. First, from a technical standpoint, perhaps the most obvious abnormality is that the ending is one continuous shot from a fixed vantage point. 
			</p>
			<p>
				The scene directly follows the emotional climax of the film and provides the film’s resolution, but Tucci chooses a particularly understated approach to the Discourse for this scene. Typically, a filmmaker is going to cut the scene up into a number of different pieces, selecting the most effective angles, cutting out unnecessary short moments or details. But Tucci chooses to let the entire moment play out in real time and from a position that mimics an observer standing in the kitchen. 
			</p>
		</div>
	</div>

	<div class="four_section_2">
		<div class="lectureQuestion">
			<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
		</div>
	</div>	

	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Another unusual aspect of the ending of this film is that, similar to <em>Limbo</em>, this film raises certain questions in the viewer’s mind and then refuses to answer those questions. We spend the duration of this film wondering whether or not the brothers will be able to stay in America or will have to (or choose to) return to Italy. This is the question around which all of the plot action rotates. Then the film stops before we discover what will happen to them. 
			</p>
		</div>
	</div>
	<div class="four_section_2">
		<div class="lectureQuestion">
			<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">CLASSICAL VS. MODERNIST STORYTELLING</h3>
			<p>
				This week we’ll be taking a look at what might be termed the traditional hollywood approach to narrative storytelling, and then we’ll talk about some ways in which filmmakers break with that more traditional style and for what purpose.
			</p>
			<p>
				We tend to refer to the traditional pattern of film storytelling as the “Hollywood model” but in reality that phrase is something of a misnomer. There are probably no Hollywood films that fit all the elements of the “Hollywood model”. A better way to characterize the approaches to storytelling we’ll discuss this week would be to use the terms “classical storytelling” versus “modernist storytelling”.
			</p>
			<p>
				Let’s look at a few questions to open up the topic for conversation. When you go to see a Hollywood narrative film what types of things are you expecting to see?
			</p>
			<p>
				We probably expect there to be characters of some kind that we identify with. We expect to be able to group those characters into traditional categories like “hero” and “antagonist”. We expect there to be some sort of conflict between these characters, and we probably expect that conflict to be resolved in some kind of satisfying way, most likely with the “good guys” winning. 
			</p>
			<p>
				Because this pattern in storytelling exists, it means that when we watch a narrative film, we go into the experience with a set of expectations about what it is that we’ll see, and those expectations color our experience of the film. 
			</p>
			<p>
				TRAITS AND DESIRES<br>
				In a classical approach to storytelling, there are characters with traits that create desires. Those desires typically become the goals that the main characters pursue throughout the film. Pursuing those desires sets off the cause-and-effect chain, and the narrative ultimately consists of the process of overcoming obstacles to achieve those goals. 
			</p>
			<p>
				In <em><em>The Wizard of Oz</em></em>, Dorothy is sensitive and caring so she desires to protect Toto from Miss Gulch. This desire leads to her running away from home, getting caught up in the tornado and eventually end up in Oz. Because she loves her family, she desires to return home to them.
			</p>
			<p>
				In a traditional narrative, opposition arises to thwart progress toward that goal, usually in the form of a character with traits that oppose those of the protagonist. The witch/Miss Gulch in <em>The Wizard of Oz</em> is mean and “evil”, and the rest of the movie consists of Dorothy trying to overcome various obstacles that center around the witch and return to her family (nowadays the opposing character traits usually aren’t quite so obviously broad). 
			</p>
			<p>
				INDIVIDUALS<br>
				In Western cinema, conflicts are usually presented in a way that emphasizes the role of the individual rather than that of society or other outside forces. Even when conflicts with larger forces occur (for example in the form of disaster movies in which characters are fighting against nature), we see that conflict through the selective prism of only a single character or small group of characters. Examples of this can be seen in movies like <em>2012, Twister, War of the Worlds</em>, etc. Where massive conflagration is occurring, but we’re only given a small-scale window into the conflict through the view of a few characters. Another good example of this tendency can be seen in the way in which the story <em>World War Z</em> was adapted from its original incarnation as a book into a movie. While the book has no specific central character and provides many windows into the unfolding disaster in the form of many disconnected characters, the moviemakers chose to significantly restructure the film in order to provide audiences with a convenient unifying narrative “handle” in the form of Brad Pitt’s character, who guides us through the story.
			</p>
			<p>
				OBJECTIVE AND UNRESTRICTED<br>
				Other characteristics of classical narrative include a tendency toward objective narration with only occasional insertions of subjectivity (POV shots, flashbacks, etc.), as well as a tendency toward unrestricted narration, typically giving the viewer more information than the characters themselves possess. 
			</p>
			<p>
				UNITY OF CAUSE-EFFECT CHAIN<br>
				One of the important differences between classical and modernist storytelling is the emphasis in classical narrative on the unity of the cause-and-effect chain. 
			</p>
			<p>
				In classical narrative, the cause and effect chain is continuous. Each cause leads to an effect which immediately serve as a new cause leading toward the next effect and so on (hopefully you saw a bit of this last week when you took apart <em>Big Night</em> to decipher its cause-and-effect chain). Each action in the film is given a clear motivation, either beforehand or in retrospect. There are clear connections between each event, trait and character goal. And ultimately time is subordinate to the cause-effect chain, meaning that classical films tend only to show us the things that are required to move from one cause to the next. Anything that is not directly related to this end is excised. Unless it serves some sort of fundamental plot point, we usually don’t see a character doing mundane activities like eating breakfast, or running errands or going to the bathroom. 
			</p>
			<p>
				CLOSURE<br>
				Typically, in classical storytelling, the fates of characters are resolved, any question or mystery raised in the film is answered, and the outcomes of each conflict are clear. So far this semester the films that we’ve watched have largely followed classical narrative patterns with the notable exception of this one. 
			</p>
			<p>
				PLOT AND CHARACTER<br>
				Plot is usually of primary importance. In most classical films, character traits and character development is used not so much for its own sake, but in order to motivate the cause-and-effect chain. Think of films such as <em>Seven, Alien</em>, or <em>Shawshank Redemption</em>. These films may create fairly vivid characters, but every trait the characters are given serves to motivate some aspect of the plot. For instance, we get no backstory about Ripley in <em>Alien</em> aside from her competence and determination which serve to drive the plot of the movie. Whatever we learn about Tim Robbins’ past in <em>Shawshank</em> is only revealed to provide dramatic irony and to intensify our understanding of his determination to escape from prison. The fact that Morgan Freeman’s character in Seven is about to retire is part of the story not in order to make him a complex well-rounded character, but only in order to increase the dramatic irony of the tragic events that occur during the story (we mentioned this old trope a few weeks ago). 
			</p>
			<p>
				3-ACT STRUCTURE<br>
				Traditionally, action is ordered around a formula of three acts: setup, in which we are introduced to the characters, their traits and desires; confrontation, in which their pursuit of those desires is obstructed; and resolution, in which the conflict from act two is resolved.
			</p>
			<h3>MODERNIST STORYTELLING</h3>
			<p>
				Modernist storytelling tends to break with these traditions in a variety of ways. 
			</p>
			<p>
				VIEWER (DIS)ORIENTATION<br>
				In traditional narrative, a primary reason for the unity of the cause-and-effect chain is to maintain viewer orientation in the story at all times. The viewer consistently knows the reasoning behind what is occurring, knows the motivations for the characters’ actions, knows their place in the world of the story. 
			</p>
			<p>
				In contemporary cinema, there’s an interesting trend, even in more traditional hollywood productions, toward inciting intentional confusion by overwhelming the viewer with more details than he/she can process as a means of approximating authenticity. 
			</p>
			<p>
				You see this in films like <em>Syriana, Duplicity, The International</em>, to name a few. Even fairly “straight” action films like <em>The Bourne Identity</em> have action sequences that are designed to overwhelm and disorient the viewer.
			</p>
			<p>
				Another way modernist films actively disorient the viewer is through a manipulation of chronology. Films like <em>Pulp Fiction</em> or <em>Memento</em> or Tarkovsky’s <em>Mirror</em> re-order plot events in order to increase confusion and obfuscate the plot.
			</p>
			<p>
				CAUSE-EFFECT CHAIN<br>
				Often, in modernist storytelling, filmmakers may include peripheral information or moments that don’t serve to advance the plot points in any important way. Instead of a tightly linked chain, the cause-and-effect relationships are more of a loose collection of disconnected chain links, filled with gaps and broken links. Jean-Luc Godard in <em>Breathless</em> presents long sequences of conversation and action that are essentially “down time” between the actual “important” plot events in which a two-bit criminal is being pursued for killing a police officer. The films of Yasujiro Ozu in Japan or Sergei Eisenstein in Russia often include insertions of material that has no direct tie to anything in the cause-effect chain. Rather than serving to propel the narrative forward as in traditional films, these moments serve rather as pauses in the story for the viewers to catch their breath or reorient their perspective. 
			</p>
			<p>
				UNRELIABLE NARRATOR<br>
				Traditionally, viewers are accustomed to trusting the perspective from which the story is told. However, many modernist films (<em>Memento, The Usual Suspects, Keane</em>) exploit this fact by telling the story from the perspective of an unreliable narrator. At first, we trust the story that is being told to us. Then over time, we begin to question whether or not the version we’re getting of the story is accurate. This technique adds a layer of complexity to the viewer experience. Not only are we simply assembling the information that comes in, we have to parse it actively and evaluate it’s truth content. 
			</p>
			<p>
				RESOLUTION<br>
				Rather than providing a traditional “satisfying” conclusion to the questions raised in the story, many modernist films intentionally raise questions, then refuse to provide a definitive answer. We saw this to some extent in both <em>Limbo</em> and <em>Big Night</em>. Inception and 400 Blows are other examples, and there are scores more (we’ll see a few more examples over the course of the semester). 
			</p>
			<p>
				PLOT AND CHARACTER<br>
				While in traditional films, character traits generally exist solely to set up and motivate various plot points, in modernist film, plot points often exist primarily to allow the development and portrayal of complex characters. This is true in both <em>Limbo</em> and <em>Big Night</em> where the filmmakers primary interest is in telling stories about the development of the characters, and all the plot machinations are simply there to provide the impetus for the changes the characters undergo. 
			</p>
			<p>
				All of these techniques send a message to the viewer. By making time and character development subordinate to the plot, traditional Hollywood films send the message that the plot is the most important element of the film. By including “peripheral” moments, by actively disorienting the viewer, by refusing to provide closure, modernist films send a message that perhaps the film is more concerned with something other than plot––the development of the characters, perhaps, or the actual themes of the film.
			</p>
			<h3>THE SILENCE OF THE LAMBS</h3>
			<p>
				
				All of this serves to set up our screening for this week. For the most part, <em>The Silence of the Lambs</em> follows most closely to the classical model of storytelling. There’s a very tightly constructed cause-and-effect chain. There’s a three-act structure and fairly solid sense of closure. The events of the plot are the most important element of the film. However, There are a few aspects of this film that deviate a bit from most traditional storytelling. 
 			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				As you watch the film, once again, try to identify the cause-and-effect chain. Which events trigger the action that leads to the next cause, or the next “deadline”? Also keep an eye out for any ways in which the movie deviates from the principles of classical storytelling that we delineated above. Can you find any “modernist” approaches in the film?
			</p>
			<p>
				After the film, head over to the discussion section to talk about it.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72594754?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>



<%= render 'shared/modal' %>
