<div class="nine_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">NO COUNTRY FOR OLD MEN</h3>
			<p>
				What is this film about? Let's try applying some of the terminology we've been discussing this semester to see whether we can shed any light on this question. 
			</p>
			<p>
				We’ll start by asking the following questions: Who are the main characters? Are the characters complex or simple? What are their traits? Do they drive the cause-and-effect chain? How cohesive is the cause/effect chain? Are there conspicuous deviations from traditional narrative practice?
			</p>
			<p>
				The first character we meet is Anton in a rather graphically unpleasant introduction. It seems pretty clear that he's the antagonist in this film rather than the protagonist. Modern films don’t necessarily split the characters into easily identifiable categories of “good” and “bad”, but based on what happens in this film, it’s relatively easy to classify him as an antagonist, largely because he poses the primary opposition to the goals of the other main characters in the film. Chigurh may qualify as “evil,” but he’s hardly a simple character. He’s characterized as a humorless psychopath, but he’s also a “principled” man who’s bound by his own skewed sense of honor and committed to following a rigid set of rules rather than simply pursuing his own self-interest. 
			</p>
			<p>
				Next, we're introduced to Llewelyn Moss. We get information about his traits: he’s tough, resourceful, independent, stubborn, but has a “good heart” as evidenced by his decision to revisit the scene of the crime with a jug of water. We follow his goal to keep the money and elude those chasing him for most of the rest of the film. Based on these things, it would seem like he qualifies as the protagonist of the film. He’s also a highly complex character. He’s motivated by the baser desires of greed, self-interest and vengeance (things we’d typically expect from the villain). He also exhibits more admirable qualities of resourcefulness, toughness, and a relatively soft heart. He has no interest in doing anyone else wrong for no reason. However, he’s also stubborn, and his stubbornness ends up getting his wife, one of the only blameless people in the film, killed.
			</p>
			<p>
				Another important character in the film is sheriff Bell, played by Tommy Lee Jones. We're not introduced to him until almost a half-hour in (when he's talking about there being a "car afar"––I LOVE the Southern dialect and details in this film, like the woman who "ain't allowed to give out no im-for-mation"). Sheriff Bell seems like a relatively minor character, somewhat hard to categorize in our traditional model. We learn very little about him for the majority of the film. He joins the story fairly late. He poses no threat to the protagonist, and in fact, never even interacts with him. He’s only chasing him to try to help him. However, there are some unusual things that happen in this film that change his role in the film as we go on. 
			</p>
			<p>
				First, the protagonist is abruptly and unceremoniously killed off with about a half hour left in the film. It’s a highly unusual strategy.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>
</div>
<div class="nine_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The killing of Moss is an unexpected gut-punch for the viewer. We’ve been led to believe that Moss is the hero, and we expect the hero to win out in the end. His death basically provides the end of the cause-and-effect chain that was begun by Moss’s traits and goals, and it should essentially mark the end of the film. Moss failed to retain the money or elude his enemies (though his end isn’t brought about by his strongest opposition, Chigurh). Those are the things we were watching the movie to find out. However, the movie continues on for another 25 - 30 minutes, centering almost entirely around the sheriff, with one final scene with Chigurh. 				
			</p>
			<p>
				If the film were “about” Moss, either as a character study, or as a plot-based film centered around his quest to achieve his goals, it more or less has to end when that quest is over. However, the fact that it continues on long after he’s gone suggests that his role in the film is actually only supplementary, there to support some other, larger goal. It’s the character of the sheriff that comes to the fore in the last part of the movie, as we see him wrestling with the things he’s seen, as well as dealing with his own age and sense of mortality. I find the sheriff’s role to be highly unusual. Ultimately, he figures largely as a proxy for the viewer, there to provide us with a guide as to how we should be feeling as we observe the events of the film, as though the filmmakers have actually inserted the observing audience into the story itself. He trails along after the action of the plot, often revisiting the set of the previous scene that we’ve just watched in order to provide some sort of commentary or emotional cue. It’s through his eyes that we first see Moss’s dead body on the ground, as the filmmakers skip over the actual shooting and just show the sheriff riding up to the aftermath. 
			</p>
			<p>
				Ultimately, when trying to decipher what this film is “about”, I think we have to conclude that like <em>2001: A Space Odyssey</em> this film is more about ideas than about characters or plot (though it’s clearly far more invested in both character and plot than was <em>2001</em>). Though there’s a fairly tightly woven cause-and-effect chain for the first three-quarters of the film, the plot comes to an abrupt end, and the film continues on. Though the film provides portraits of complex characters, the character we identify with most is removed from the film long before it ends. Ultimately this film is about wrestling with and against the idea of the “happy ending”. It gives us an unhappy ending, and then gives us another half-hour to come to grips with it. It sets up the notion of the resourceful everyman who somehow overcomes all odds to achieve his goals and work his will on the world, only to make a point of saying that that fantasy is not the way the world actually works. That, then, is the theme of this film: that the world does not work the way that we want it to. The actions of the film feel heartless and brutal, and we’re tempted, like sheriff Bell, to feel like what we’re seeing is evidence of the spiraling decay of humanity’s descent into greater brutality. But the film chides us for thinking that, essentially saying “what you’ve got is nothing new”. The world has always been a place filled with brutality and random chance. And as sheriff Bell relates his dream at the end of the film, we’re left with some small glimmer of hope in the knowledge that, despite all of the brutality, we’re not alone. Others have gone before us and dealt with the same things. It’s only a glimmer of hope. But maybe, in the face of hopelessness, that’s not such a small thing.
			</p>
			<h3>STYLE IN NO COUNTRY FOR OLD MEN</h3>
			<p>
				I’d like to spend some time looking at one aspect of the stylistic approach chosen by the Coen brothers: sound design. The soundtrack of the film is naturalistic and strictly diegetic––to an unusual degree.  There’s no soundtrack music whatsoever in this film. 	
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
</div>
<div class="nine_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				In order to talk about the impact of the sound, I’ll back up for a minute and talk about another facet of the film: its sense of atmosphere. When we talk about a film’s atmosphere, we’re talking about how much the film succeeds in making you feel that you’re a part of the space in which the film is happening. We watch films in a space completely abstracted from the space in which the story is supposed to be happening, yet through two of our five senses, cinema can make an attempt to immerse us in the world of the story. 
			</p>
			<p>
				Sound is actually one of the more pivotal components in determining how immersive a film is for the viewer. When non-diegetic music is laid over the imagery that we’re watching it may provide certain emotional cues for the viewer (that’s typically why music is used), but it also provides a layer of removal from the immediacy of the moment being depicted. Whether or not the viewer is thinking about it consciously, she’s aware that in the real world music does not accompany our daily activities, so hearing a musical score over something emphasizes that we’re not actually a part of what’s happening on screen.
			</p>
			<p>
				 The filmmaker is making a trade-off between emotional specificity and atmosphere. The Coen brothers’ commitment to using only diegetic sound means that the viewers are given less of a cue as to how they are supposed to feel during a scene, but it also draws the viewer more deeply into the moments that are occurring onscreen. 
			</p>
			<p>
				More specifically, one of the ways the Coen brothers generate a vivid sense of atmosphere in this film is through the evocation of multiple sense perceptions. Think back to the scene with Moss at the shootout. He finds one of the people injured but alive in the truck. That character is asking for water. His lips are chapped and dried out. We hear flies buzzing. We hear the wind blowing. We can nearly feel his thirst. As Moss sets out after the “ultimo hombre” or the last man standing, he talks about the intense heat. 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Revisit this scene and listen carefully to the audio mix. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/76819336?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>
</div>
<div class="nine_section_4" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				What I want to draw your attention to in this scene is the sound of the wind. It’s the most noticeable component of the sound and it’s consistent throughout the scene. It contributes significantly to the sense of atmosphere because it contributes two different sense perceptions in one (though we only hear it, we associate the feeling of blowing wind with the sound). It’s a subtle detail and one that would be drowned out if there were some sort of musical score laid over the scene. But without that distraction, the subtle sound of the breeze makes a significant contribution. 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				The sound of wind is actually featured prominently throughout the film as evidenced in this next scene. Also note the way that the curtains regularly are blowing in the breeze underscoring the sound of the wind and enhancing the illusion of feeling the breeze. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/76819337?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				There are many more components to the stylistic approach that the Coens use in this film, but the use of diegetic sound provides one conspicuous example that has a significant impact on the viewer. 
			</p>
		</div>
	</div>
</div>
<div class="nine_section_4" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">THE PUZZLE FILM</h3>
			<p>
				In our continuing look at different patterns of storytelling, this week we’ll look at the genre of the puzzle film. It’s a genre that has evolved out of the mystery/detective genre. 
			</p>
			<p>
				In the puzzle film, just like in the mystery film, narration is highly restricted, as the filmmaker raises questions in the viewer by withholding strategic information. The viewer gradually uncovers information incrementally along with the characters. 
			</p>
			<p>
				The puzzle film differs from the detective story in that the director is willing to create a sense of confusion and disorientation rather than simply raising the viewer’s curiosity. Another difference of the puzzle film is that the questions raised by the film may not be simply about the events and characters but about the world of the film itself, as viewers are often forced to reevaluate what they thought they understood about the film after certain revelations occur.
			</p>
			<p>
				Some examples from the genre include <em>Fight Club, Eternal Sunshine of the Spotless Mind, Adaptation, Inception, Memento, The Prestige</em> (most Christopher Nolan films really), <em>The Usual Suspects, Primer, The Sixth Sense</em>. It’s a fairly popular genre these days.
			</p>
			<p>
				One of the hallmarks of the puzzle film is exceptionally tight control exerted over the discourse. Which events are included from the story, the order in which those events are presented, even which details are actually seen from the events that are displayed, are all carefully chosen by the director. In the puzzle film, nearly any other presentation of the materials of the story would give away some crucial element of the puzzle before the intended revelation. 
			</p>
			<p>
				This extremely controlled presentation of the materials of the story brings up an issue that we’ll talk more about later in the semester, but is worth raising here: the question of the degree of manipulation in cinema.
			</p>
			<p>
				Any film is a manipulative experience. We’re being shown certain events to the exclusion of others. We are shown those events from a certain visual perspective exclusive of all others. The viewer can be easily misled through this selective disbursement of information. The puzzle film, however, is more manipulative than the typical film. One of its primary goals is the intentional misleading of the audience. Is there such a thing as too much manipulation or contexts in which manipulation is a bad thing? From one perspective, manipulation is unavoidable, but from another perspective, manipulation is essentially lying to the viewer. Then again, it’s doing so to provide the viewer with an experience that they’re often looking for. Is there such a thing as too much manipulation? We’ll tackle that question more in-depth at some point later in the semester, but I want you to be thinking about the role manipulation plays in the films you watch as we continue throughout the semester.
			</p>
			<h3>MULHOLLAND DRIVE</h3>
			<p>
				Even among puzzle films, <em>Mulholland Drive</em> is rather unusually obscure, raising far more questions than it answers. As you watch <em>Mulholland Drive</em> by David Lynch, here are some questions to think about (though you’ll probably have plenty of your own questions to chew on relating to the film itself). How is Lynch’s use of technique similar to traditional Hollywood filmmaking, and where do his methods break from traditional practice? How does Lynch use viewer expectation and psychology to create his puzzle? 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				After you finish the film, head over to the discussion forum to talk about it. Once you’ve watched the film, if you’re still a little perplexed as to what exactly was going on, you can read this week’s supplementary reading which goes a long way toward explaining a lot of the film. This film is one that’s intentionally left open to multiple interpretations, and David Lynch famously refuses to clarify what his intent is with the film, but the article I’ve posted for the supplementary reading makes a pretty compelling case for a fairly authoritative reading on what’s actually occurring in the film. On the other hand, if you enjoy the state of confusion the film most likely leaves you in, feel free to avoid spoiling it and avoid the reading instead.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/76776064?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="376" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>

<%= render 'shared/modal' %>
