<div class="ten_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">GUMMO</h3>
			<p>
				In reviewing <em>Gummo</em>, let’s spend a few minutes thinking about what parts of the film are “narrative-like” and what parts aren’t. 
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Regardless of what the actual content of the scenes is, the film is packaged to look like a narrative film. It has a non-diegetic musical soundtrack laid over the images. It’s shot on 35mm film, so it has the textural look of cinema. There are characters who recur that we follow around. We even get some sense of at least a few traits of the characters. The film at least has the cosmetic appearance of a narrative film.		
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The most conspicuous difference between this film and other narratives is the lack of overt causality depicted in this film. You’d be hard-pressed to come up with a cause-and-effect chain for this film. If the characters have traits, they provide little motivation for the events that occur. The scenes with recurring characters don’t connect to other scenes with those same characters. They don’t develop or progress. The only thing that resembles a continuing thread is Solomon and Tummler’s pursuit of cat-killing, but we don’t really get any overt events in this thread. It’s more something that is referred to repeatedly and hinted at with the girls’ missing cat Foot-Foot. The film may seem incoherent or random because Korine has removed overt causality. But he hasn’t simply excised it and left a void in its place. He’s replaced it with something else.
			<p>
				Ultimately what creates connections between the scenes of this film are repetitions of thematic content and subject matter. There are continued references to smell, references to body parts and bodily defects, to sexuality and sexual deviance, to dirt and grunge, to bigotry and ideas of masculinity. These repetitions of ideas are like threads woven through the various scenes to create a sense of commonality throughout the film. We may see scenes featuring characters that we’ve never seen before and whom we won’t see again, but those scenes don’t feel random or out of place because the subject matter that the characters talk about and the actions that they perform fit in with the thematic content of the film up until that point.
			</p>
			<p>
				In your reading for last week, J.J. Murphy drew out some of the references to vaudeville that Korine makes throughout this film, and it’s an apt comparison to make. Vaudeville shows were a collection of sketches. The individual sketches didn’t connect with each other or tell an ongoing story. They presented a short gag, and then a new act came on. <em>Gummo</em> borrows some of that structure––the lack of a “through-line” to the overall story––but does imbue each of the acts we watch with more common ground than the typical vaudeville act would have had (if you want to watch something more intensely disconnected, try Richard Linklater’s first film <em>Slacker</em> which consists of an ongoing series of brief conversations linked by following one character until he/she meets up with someone and has a conversation. Then we follow the new character to be introduced to someone else, and so on).
			</p>
			<h3>CAUSALITY</h3>
			<p>
				Earlier in the semester we referenced Bordwell and Thompson’s quote that narrative filmmaking consisted of a cause-and-effect chain oriented in space and time. Harmony Korine has excised the cause-and-effect chain from the equation. It might appear based on Bordwell and Thompson’s definition that what we have left does not qualify as narrative. 
			</p>
			<p>
				In your supplementary reading for this week on Japanese cinema, Donald Richie draws a distinction between “story” and “plot”. To illustrate the difference, he cites a quote from the early 20th century novelist E.M. Forster:
			</p>
			<p class="quoteIndentation">
				“The king died, and then the queen died” is a story. “The king died, and then the queen died of grief” is a plot.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Here are Richie’s words: “The story reflects simple reality; the plot comments upon that reality, ascribing motives and relating actions.”
			</p>
			<p>
				In Richie’s view, “story” presents the events without commentary while “plot” feels compelled to impose a sense of <em>causality</em> on those events. The implication here is that even though “The king died, and then the queen died” contains no indication of causality, in Forster’s (and Richie’s) view, it still constitutes a narrative. 
			</p>
			<p>
				Forster and Richie are both indirectly addressing the role that the viewer’s psychology plays in the storytelling process. Every viewer watching a movie is actively looking to impose a sense of causality on the events he/she sees. We realize that the storyteller is selecting individual events out of many possible events to present to us. Without thinking about it, we expect that the storyteller will choose to present events to us that are related in some way. If the storyteller doesn’t tell us explicitly how those events are related, we will try to impose some sort of causal relation ourselves. Do you remember the Kuleshov experiment from the early days of cinema? Viewers were shown two completely unrelated images of a man looking followed by either a child, or a woman or a plate of food. The images had no actual or implied relationship, but viewers all imposed a causal connection on the images, suggesting that the man’s act of looking at the second object brought about certain emotions in the man.
			</p>
			<p>
				An astute filmmaker, wishing to draw the viewer more actively into the storytelling process, might take advantage of this trait of human psychology by merely sketching out the rough details of what is happening and allow the viewer to make the connections about <em>why</em> it’s happening herself.
			</p>
			<p>
				Why is this important? Why take a week to watch a film that actively attempts to subvert the conventions we’re trying to learn? Ultimately, it tells us something about how narratives can be structured. If you’re looking to tell a story but don’t want to follow a strictly traditional format, you can rely on other strategies to give your story a sense of unity. 
			</p>
		</div>
	</div>
</div>
<div class="eleven_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3>DETAILS</h3>
			<p>
				This week we’ll take a look at some of the practical choices a filmmaker makes when trying to visualize a story. I’d like to make the suggestion that a critical part of creating an engaging story is not so much thinking about large, overarching themes and ideas but rather delving into mundane details.
			</p>
			<p>
				To illustrate this idea, I want to present some thoughts from a few writers and filmmakers. 20th-century fiction writer Flannery O’Connor, in her book <em>Mystery and Manners</em>, shares some ideas about the importance of creating a believable sensory world. She’s writing about literature, but her thoughts apply equally well to cinema in this instance:
			</p>
			<p class="quoteIndentation">
				“The beginning of human knowledge is through the senses, and the fiction writer begins where human perception begins. He appeals through the senses, and you cannot appeal to the senses with abstractions. It is a good deal easier for most people to state an abstract idea than to describe and thus re-create some object that they actually see. But the world of the fiction writer is full of matter, and this is what the beginning fiction writers are very loath to create. They are concerned primarily with unfleshed ideas and emotions. They are apt to be reformers and to want to write because they are possessed not by a story but by the bare bones of some abstract notion. They are conscious of problems, not of people, of questions and issues, not of the texture of existence, of case histories and of everything that has a sociological smack, instead of with all those concrete details of life that make actual the mystery of our position on earth.
			</p>
			<p class="quoteIndentation">
				“. . . A lady who writes, and whom I admire very much, wrote me that she had learned from Flaubert that it takes at least three activated sensuous strokes to make an object real; and she believes that this is connected with our having five senses. If you're deprived of any of them, you're in a bad way, but if you're deprived of more than two at once, you almost aren't present.
			</p>
			<p class="quoteIndentation">
				“All the sentences in <em>Madame Bovary</em> could be examined with wonder, but there is one in particular that always stops me in admiration. Flaubert has just shown us Emma at the piano with Charles watching her. He says, 'She struck the notes with aplomb and ran from top to bottom of the keyboard without a break. Thus shaken up, the old instrument, whose strings buzzed, could be heard at the other end of the village when the window was open, and often the bailiff's clerk, passing along the highroad, bareheaded and in list slippers, stopped to listen, his sheet of paper in his hand.'
			</p>
			<p class="quoteIndentation">
				"The more you look at a sentence like that, the more you can learn from it. At one end of it, we are with Emma and this very solid instrument 'whose strings buzzed,' and at the other end of it we are across the village with this very concrete clerk in his list slippers. With regard to what happens to Emma in the rest of the novel, we may think that it makes no difference that the instrument has buzzing strings or that the clerk wears list slippers and has a piece of paper in his hand, but Flaubert had to create a believable village to put Emma in. It's always necessary to remember that the fiction writer is much less <em>immediately</em> concerned with grand ideas and bristling emotions than he is with putting list slippers on clerks.”
			</p>
			<p>
				In O’Connor’s opinion, investing time in creating tactile details that appeal to the reader’s (or viewer’s) senses is critically important in drawing the viewer into the story.
			</p>
			<p>
				In this sentence, Flaubert is talking about the music being played by Emma on the piano, but how do you evoke the sense of hearing through the written word? He does so by making the strings “buzz”––an onomatopoeic word that vividly evokes our sense of hearing far better than mentioning notes being played on a piano. At the end of the sentence, Flaubert could have just mentioned the clerk hearing the sound, but by making him “bareheaded and in list slippers” we’re given details that we subconsciously visualize. And further, the “sheet of paper in his hand” even causes us to imagine the tactile sensation of paper. By emphasizing these details, Flaubert succeeds in getting the reader to invoke three different senses when in fact, he’s only stimulating one (sight, and that’s actually a proxy stimulation since we’re only seeing words, not images). 
			</p>
			<p>
				There’s another word for the effect of a “believable village” that O’Connor is talking about: atmosphere. Think back to the discussion two weeks ago of the sound design in <em>No Country For Old Men</em>. In the scene we revisited where Moss discovers the “last man standing” by the tree, we talked about the vivid detail evoked by the nuanced sounds the Coens used in the scene: the crunching of the footsteps, the buzzing of a fly, and particularly the sound of wind that carried throughout the scene. Cinema has an advantage on the written word in that it can directly stimulate the senses of sight and sound (though the use of non-diegetic music can essentially dull the sense of sound because it drowns out the actual sonic details of the scene), but similarly to Flaubert’s clerk with paper in hand, cinema can evoke the sense of touch or perhaps occasionally the sense of smell or taste (remember the “unnecessary” detail of the two characters drinking cold milk?). By using details to stimulate as many different senses as possible, a filmmaker can envelop the viewer in the world of the story and thereby deepen the viewer’s emotional investment in the story itself. 
			</p>
			<p>
				Further thoughts from O’Connor on the subject: 
			</p>
			<p class="quoteIndentation">
				“Fiction writers who are not concerned with these concrete details are guilty of what Henry James called ‘weak specification.’ The eye will glide over their words while the attention goes to sleep. Ford Madox Ford taught that you couldn’t have a man appear long enough to sell a newspaper in a story unless you put him there with enough detail to make the reader see him.
 			</p>
			<p class="quoteIndentation">
				“I have a friend who is taking acting classes in New York from a Russian lady who is supposed to be very good at teaching actors. My friend wrote me that the first month they didn’t speak a line, they only learned to see. Now learning to see is the basis for learning all the arts except music. I know a good many fiction writers who paint, not because they're any good at painting, but because it helps their writing. It forces them to look at things. Fiction writing is very seldom a matter of saying things, it is a matter of showing things.”
			</p>
		</div>
	</div>
</div>
<div class="eleven_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">			
			<p class="first_paragraph">
				Screenwriter, director and playwright David Mamet in his book <em>On Directing Film</em> also has some thoughts on how the presentation of details accumulates to tell an effective story:
			</p>
			<p class="quoteIndentation">
				“You always want to tell the story in cuts. Which is to say, through a juxtaposition of images that are basically uninflected. Mr. Eisenstein tells us that the best image is an uninflected image. A shot of a teacup. A shot of a spoon. A shot of a fork. A shot of a door. Let the cut tell the story. Because otherwise you have not got dramatic action, you have narration. If you slip into narration, you are saying, ‘you'll never guess why what I just told you is important to the story.’ It's unimportant that the audience should guess why it's important to the story. It's important simply to <em>tell</em> the story. Let the audience be surprised. 
			</p>
			<p class="quoteIndentation">
				“. . . Documentaries take basically unrelated footage and juxtapose it in order to give the viewer the idea the filmmaker wants to convey. They take footage of birds snapping a twig. They take footage of a fawn raising his head. The two shots have nothing to do with each other. They were shot days or years, and miles, apart. And the filmmaker juxtaposes the images to give the viewer the idea of <em>great alertness</em>. The shots have nothing to do with each other. They are not a record of what the protagonist did. They are not a record of how the deer reacted to the bird. They're basically uninflected images. But they give the viewer the idea of <em>alertness to danger</em> when they are juxtaposed. That's good filmmaking.“
			</p>
			<p>
				This idea of <em>uninflected images</em> is one that I want to draw your attention to, as it has particular relevance for the film we’ll be watching this week. In Mamet’s mind, an uninflected image is a “neutral” image, one in which the filmmaker is not trying to make the image “interesting” through technique. The filmmaker is not shooting the image from an “interesting” angle or while spinning the camera in a circle around the subject. The filmmaker is not throwing bombastic music over the top of the image to impose an idea on it. Instead the image itself is neutral, but the <em>cut</em> is what creates the power and the meaning in the scene. The juxtaposition of two “uninteresting” images creates “interesting” meaning in the viewer’s mind. Elsewhere, Mamet says, “Always do things the least interesting way, and you make a better movie. . . . How do we keep [the viewer’s] attention? Certainly not by giving them <em>more</em> information but, on the contrary, by <em>withholding</em> information––by withholding <em>all</em> information except that information the absence of which would make the progress of the story incomprehensible.”
			</p>
			<p>
				Related to the idea of emphasizing details in uninflected shots in order to create a vivid sensory atmosphere for the viewer is the concept of providing the characters in your scenes with concrete, detailed actions to perform. Mamet talks about the screenwriter’s desire to communicate information about the characters in a scene: 
			</p>
			<p class="quoteIndentation">
				“Almost no one in this country knows how to write a movie script. Almost all movie scripts contain material that cannot be filmed. 
			</p>
			<p class="quoteIndentation">
				“'Nick, a young fellow in his thirties with a flair for the unusual.' You can't film it. How do you film it? 'Jodie, a brash hipster, who's been sitting on the bench for thirty hours.' How do you do that? It can't be done. Other than through narration (visual or verbal). </br>
				Visual: Jodie looks at his watch. Dissolve. It is now thirty hours later. </br>
				Verbal: 'Well, as hip as I am, it has surely been a trial to've been sitting on this bench for the last thirty hours.'
			</p>
			<p class="quoteIndentation">
				“If you find that a point cannot be made without narration, it is virtually certain that the point is unimportant to the story (which is to say, to the audience): the audience requires not <em>information</em> but <em>drama</em>.
			</p>
			<p class="quoteIndentation">
				“. . . The truth is, you never have to establish the character. In the first place, there is no such thing as character other than the habitual action, as Mr. Aristotle told us two thousand years ago. It just doesn't exist. Here or in Hollywood or otherwise. They always talk about the character out there in Hollywood, and the fact is there Is no such thing. It doesn't exist. The character is just habitual action. 'Character' is exactly what the person literally does in pursuit of the superobjective, the objective of the scene. The rest doesn't count.”
			</p>
			<p>
				When you’re building a story, it’s important for you as the storyteller to know details about the characters and their situations. However, that information is only important to you as you create the world of the story. Most of that information the viewer does not need to know. Think back to the clip from <em>Rushmore</em> that we watched previously. Most likely Wes Anderson had some idea about the history of Bill Murray’s character and what events and actions have occurred in his family to lead them to the situation they’re in now. However, Anderson does not try to give us any backstory aside from knowing that they’re a family. He only gives us the minimum information about the scene that we need in order to create drama: the father is unhappy with his family life. In reality, Wes Anderson doesn’t actually try to tell us that the character is unhappy. He tells us that the character is throwing golf balls in a pool; that he’s smoking, drinking; that he jumps off a diving board during the party; that he tries to stay underwater as long as possible. These are the concrete details that Anderson depicts and from them, we as viewers extrapolate and impose the meaning that the character is unhappy with his family life (I would not, however, classify this scene by Anderson as making particular use of <em>uninflected</em> images. Anderson’s stylized approach to camerawork, his aggressive use of non-diegetic sound all add significant inflection to the material). 
			</p>
			<p>
				As you work on your final creative projects, keep these ideas in mind. What you depict on the screen should be summarized in verbs, not adjectives. Seek to depict details that invoke the senses, and seek to depict concrete, detailed actions that reveal only the information needed by the viewer to have the bare minimum of an understanding of what’s happening in the scene. 
			</p>
		</div>
	</div>
</div>
<div class="eleven_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">			
			<h3>TOKYO STORY</h3>
			<p>
				The idea of uninflected images fits in well with Donald Richie’s references to plot and story that we read earlier. In his definition, plot is story that has been unnecessarily augmented with extra details, images that have been inflected, or had meaning imposed on them. The film that we’ll watch this week, <em>Tokyo Story</em> by Yasujiro Ozu, is heavily informed by the use of uninflected images. Ozu’s camera seeks simply to describe what happens with the characters. It does not seek to tell the viewer <em>why</em> things are happening or how the characters feel about what’s happening. Much or all of the “important” action in this film is happening internally inside the characters on a level that we don’t have access to. We have to observe carefully what actions the characters perform and what details Ozu chooses to present to us in order to extrapolate what the internal states of the characters are. It’s very similar to what Anderson does in the above scene from <em>Rushmore</em>. However, the actions Ozu chooses to depict are much subtler and less inflected than are Anderson’s.
			</p>
			<p>
				Your reading for this week goes into some detail as to the ways that classical Japanese cinema differs from Western cinema, and I would encourage you to do the reading before you watch this week’s film. One of the central values of traditional Japanese society at the time this film was made is the idea that less is more. This concept filters out through the film in many different ways but particularly describes the restraint with which Ozu uses his camera. It’s a concept that Mamet would approve of, at least on some level, going along with his admonition to show less information, and in doing so, paradoxically involving the viewer more in the story. 
			</p>
			<p>
				The style of storytelling might be a little unfamiliar to us as Westerners as we’re used to more obvious attempts to communicate a character’s internal states. Just be aware that you need to read between the lines with this film. There is supposed to be a lot happening internally within the characters that’s not made obvious. 
			</p>
		</div>
	</div>
<div class="videoContainer">
	<div class="column firstColumn">
		<p class="first_paragraph">
			As you watch the film, think about these questions: </br>
			What are the characters feeling at each point in the film? How can we know what they’re feeling? How does Ozu make use of uninflected shots? Pay careful attention to the way that Ozu uses the camera. What things does he choose to look at? What is unusual about his technique? How does it deviate from the traditional Hollywood approach? Once you’ve finished the film, head over to the discussion forum to talk about it.
		</p>
	</div>
	<div class="column secondColumn">
		<iframe src="//player.vimeo.com/video/78447829?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="528" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>	
 

<%= render 'shared/modal' %>
