<div class="three_section_1" >
	<div class="sectionContainer">
		<div class="three_sub_section section">
			<p class="first_paragraph">
				Before we dig into this week's subject matter, I want to revisit last week's film and draw some conclusions about our discussion questions from last week. 
			</p>
			<p>
				Why does John Sayles choose to end <em>Limbo</em> the way he does? 
			</p>
			<p>
				Before the gun appeared, we had a set of questions in our minds that we wanted answered: a set of expectations regarding the film’s themes and what we wanted to find out from the movie. 
			</p>
			<p>
				When he introduces the gun, Sayles wipes out those questions and replaces them with others. Rather unusually, he refuses to answer the new questions (most likely he considers them to be less important than our original questions), but in the process he goes about answering our original question (“Will these two people end up together?”). 
			</p>
			<p>
				It’s worth asking why would a filmmaker do this. If he’s going to answer those original questions anyway, why not just answer them without the misdirection? Why bother with the subterfuge of plot twists?
			</p>
			<p>
				In order to answer this question, let’s ask another: What do the events on the island serve to prove? The characters come together in the first half of the film, but without any genuine stress for the relationship, there's no way for us to be sure that it's not just a brief stereotypical romantic fling. 
			</p>
			<p id="graphic_one_out">
				In the scene at night near the end of the film, the discussion between the two characters is the real conclusion to the film. That is where our original questions are answered. We can see that the relationship between them is real. It has withstood severe stress and the characters have definitively changed. They've overcome their past failings and they still want to be together. When Joe states that he’ll take care of them no matter what happens, we’re seeing the ultimate conclusion of the film. Each of the two main characters has moved out of the limbo in which they’d been mired prior to the events of the movie. They’re changed, and they’re together.
			</p>
			<p>
				In this way the film serves as an antidote to the myriad of romance movies where there's an attraction between two people, and then the film throws a whole series of misadventures and misunderstandings to prevent the couple from getting together. Finally, at the end of the film, they end up together. However, that's really just the beginning. In how many of those films do we actually believe that those relationships would last any degree of stress or conflict? 
			</p>
			<p>
				None of this would be clear about the film if it had a conclusive ending in which we find out who is in the plane and what ultimately happens to the characters. That ending would reinforce our belief that the film is, in fact, about whether they get out of this crisis. 
			</p>
			<p>
				Because the ending is as abrupt, unexpected and inconclusive as it is, we have to reevaluate our understanding and reflect and discover that in reality the crisis is unimportant. We already have our conclusion. The important questions have been answered. We were right all along.
			</p>
			<p>
				NARRATIVE PATTERNS </br>
				Storytelling has, for a very long time, held a prominent place in human culture. 
			</p>
			<p>
				Aside from films, can you think of other contexts in which storytelling features prominently?
			</p>
			<p>
				There’s advertising, video games, education (anyone remember story problems from math?), news, religion, dreams.
			</p>
			<p>
				Within the world of filmmaking––even outside of traditionally fictional films––narrative holds sway in many other film genres: cartoons, documentaries, even experimental films often employ variations on narrative form in their structure and subject matter. 
			</p>
			<p>
				So what do we mean when we talk about “narrative.” Just what is a story, exactly? What different components have to be included for us to consider something to be a story?
			</p>
			<p>
				We could probably approach this question from a lot of different angles, but you might remember that we touched on this question in Film 210. According to David Bordwell and Kristin Thompson, in order for us to see something as a narrative, it has to have three elements: causality, time and space. Another way to phrase this would be to say that a narrative is a chain of events in a cause-effect relationship occurring in time and space. 
			</p>
			<p>
				Consider this example from Bordwell and Thompson:</br>
			</p>
			<div class="quoteIndentation">
				<p>
					“A random string of events is hard to understand as a story. Consider the following actions: ‘A man tosses and turns, unable to sleep. A mirror breaks. A telephone rings.’ We have trouble grasping this as a narrative because we are unable to determine the causal or temporal relations among the events. 
				</p>
				<p>
					“Consider a new description of the same events: ‘A man has a fight with his boss; he tosses and turns that night, unable to sleep. In the morning, he is still so angry that he smashes the mirror while shaving. Then is telephone rings; his boss has called to apologize.’
				</p>
				<p>
					“We now have a narrative. We can connect the events spatially: the man is in the office, then in his bed; the mirror is in the bathroom; the phone is somewhere else in his home. More important, we can understand that the three events are part of a series of causes and effects. The argument with the boss causes the sleeplessness and the broken mirror. The phone call from the boss resolves the conflict; the narrative ends.“
				</p>
			</div>		
			<p>
				Once we impose a sense of causality–and a sense of temporal and spatial orientation–onto events, we create what is known as a diegesis: a believable world in which the story takes place. This is the world which the viewer inhabits mentally, believing–or suspending disbelief–that this fictional space-time is, in fact, real.
			</p>
			<p id="graphic_two_in">
				STORY AND DISCOURSE</br>
				Has anyone had the experience of reading a book and then later seeing a movie of the book and being disappointed? What is it that’s disappointing? Aren’t both mediums presenting the same story? Why should one be satisfying and the other disappointing. This experience of finding one or the other rendition of the story disappointing demonstrates that there are two equally important things that contribute to our experience of a narrative: the <em>content</em>––or substance––of the story and <em>the way in which that story is told</em>. 
			</p>
			<p>
				Let’s use the word “Story” to refer to the actual content (or the “what”) of the narrative. We’ll use the word “Discourse” to refer to the “how”, or the way that the story is told.
			</p>
			<p>
				Perhaps you've read George R. R. Martin's books <em>A Song of Ice and Fire</em>. You might also have seen the HBO TV series <em>Game of Thrones</em> (if not, what’s wrong with you?!). These two different things present essentially the same story–the same events, characters and settings. However the Discourse of the two is different. One consists of words and phrases while the other consists of sequences of images. The order and exact contents (the Discourse) of events presented might vary from one presentation to the other, but the Story is more or less the same. A play that was written by Shakespeare might exist as a script, a play production, a movie, a ballet, or some kind of modernized adaptation inspired by the original. Its Discourse varies, but the Story remains the same. 
			</p>
			<p id="graphic_two_out">
				EVENTS AND EXISTENTS</br>
				We can take Story and divide it further into two subcategories: <em>events</em>, the things that occur in the film; and <em>existents</em>, the people and places which drive the events. In any narrative there are a series of events arranged in a cause-effect chain. Something triggers an event. This event, in turn, causes another event which then triggers another event, and so on. 
			</p>
			<p>
				Some of these events are actually depicted in the narrative, while others are implicit: either they are referred to in some way or are inferred by the viewer. When we talk about events that are actually being depicted in the narrative, we’ll use the word Plot.
			</p>
			<p>
				In <em>Limbo</em>, we see the events of the wedding at which Joe and Donna meet. However, we only hear about Joe’s boat sinking which occurred much earlier in the story’s narrative. The wedding is part of the plot. The boat sinking is not part of the plot, but it’s still part of the story.
			</p>
			<p>
				EXISTENTS</br>
				The existents of the narrative, its characters and setting, are also directly tied to causality. They’re the instigators of the cause-effect chain, making decisions and performing actions that kick off the chain of events. 
			</p>
			<p>
				How does this process get started? Characters possess distinguishing characteristics that we’ll call traits: things like attitudes, habits, skills, psychological drives. Characters have desires that are the results of these traits and the pursuit of these desires triggers the events in the chain.
			</p>
			<p>
				Donna is talented, lonely, rather self-centered. These traits lead her to move from one relationship to another (and one location to another), uprooting herself and her daughter through a string of unstable relationships and living situations until she ends up grasping for Joe as the nearest person at hand who might be able to help her in some way, and this kicks off the cause-and-effect chain of <em>Limbo</em>.
			</p>
			<p>
				Characters are defined by their traits. A complex character is a character with multiple–– sometimes conflicting––traits. A one-dimensional character has only a few, or very similar, traits. 
			</p>
			<p>
				Joe is complex. He’s quiet, reserved, self-assured, but at the same time needy for someone else to open up to and share his life with.
			</p>
			<p>
				In contrast, the man whose boat Joe ends up fishing with is one-dimensional. Primarily, he’s just angry at every point in which we encounter him in the film.
			</p>
			<p>
				Some narratives make use of both complex and one-dimensional characters while other narratives, typically those that are more concerned with plot machinations, end up using mostly one-dimensional characters. We’ll delve into these distinctions more deeply later in the semester.
			</p>
			<p id="graphic_three_out">
				DISCOURSE</br>
				So the content of the Story is made up of the events and the existents which establish a cause-effect chain. Let’s now think about how that story gets told. The Discourse (or the Plot) presents carefully selected events out of the story to us. It presents them in a carefully selected order and in carefully chosen doses in order to set up and generate certain expectations, emotions and responses from the audience. This is called the <em>narration</em>.  
			</p>
			<p>
				This information is presented with certain stylistic choices including camera angles, lighting, framing etc. which also contribute to generating the desired emotional response. This is the <em>style</em> of the film.
			</p>
			<p>
				NARRATION AND STYLE</br>
				Similarly to the way that we can divide Story into events and existents, we can also divide Discourse into two subcategories: narration and style. 
			</p>
			<p>
				We’ll use the term narration to refer to the way that story information is distributed (not simply to mean “voiceover” as it can sometimes mean). When we talk about style we’ll be talking about the way the filmmaker chooses to make use of filmmaking tools. 
			</p>
			<p>
				We’ll spend the rest of the lecture this week digging into the concept of narration, and then we’ll tackle style later on in the semester.
			</p>
			<p id="graphic_four_out">
				NARRATION</br>
				When an author or filmmaker tells a story, the primary role that author is performing is one of selection. The story exists in the author’s mind as a continuum of events. The author must make choices about which parts of the story will be presented to the viewer, in what order, which events will be omitted, etc. The author is making these decisions both on the macro level of the overarching storyline (which characters and events will be depicted), but also on the micro scale of each individual scene (which moments from the scene will be depicted). The task the author performs is reducing a continuum of events to a sequence of discrete points: the actual shots that will be included in the telling of the story.
			</p>
			<p>
				NARRATIVE RANGE</br>
				If we think of narration as the way story information is distributed to the viewer, we can divide narration up into two dimensions: <em>range</em> and <em>depth</em>. Narrative range is how much of the available information about the story is given to the viewer. With <em>unrestricted</em> narration, the viewer is essentially given all the information there is to know about this part of the story. The viewer knows more than the characters do. They’re given a broad range of information. Because viewers know more than the characters do, this approach to narrative offers ample opportunity for building suspense, as the viewers knows more about what is going to happen and are now waiting for the characters’ knowledge to catch up with their own. An example of this type of narration can be found in Hitchcock’s <em>North by Northwest</em>. Cary Grant’s character has been the victim of mistaken identity. For the first portion of the film, the viewer knows as much as Grant and follows him around trying to discover who this man is that he’s been mistaken for. Then, suddenly, Hitchcock cuts away to a meeting among government CIA-types where we discover that the man Grant’s been mistaken for doesn’t actually exist, that he was a fiction created by them. Now we know more than Grant, and we spend the rest of the film in suspense watching to find out when his knowledge will catch up with ours. Hitchcock makes the choice to sacrifice the surprise of discovering the truth later in order to gain a level of suspense throughout the latter half of the film. 
			</p>
		</div>
	</div>
	<div id="graphic_five_out" class="videoContainer">		
		<div class="column firstColumn">
			<p>
				While unrestricted narration gives the viewer more information than is possessed by the characters, <em>restricted</em> narration withholds information from the audience so that they know as much as, or even less than, the characters themselves. Here’s an example of restricted narration from the same film. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/73084660?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="392" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="three_sub_section section">

			<p id="graphic_six_in" class="first_paragraph">
				Up until this point, we’ve known as much as, or more than, the characters. Yet in this scene, Hitchcock withholds information from us that the characters know: the shooting in this scene is staged. The result for the viewer is surprise. Surprise when the shooting happens, and surprise after the fact to discover that there was a plan we weren’t privy to. 
			</p>
			<p>
				We see here how narrative range is a complicated amalgam of techniques blended together. The same film can contain combinations of both a restricted and unrestricted approach to dispensing narrative information to the viewer. 
			</p>
			<p id="graphic_six_out">
				NARRATIVE DEPTH</br>
				If narrative range is how much of the available information is given to the viewer, the question of narrative <em>depth</em> deals with how much of the characters’ psychological state is explored as the narrative unfolds. 
			</p>
			<p>
				An <em>objective</em> approach to narrative depth allows the viewer only to see and hear a character’s external behavior. This approach is more “neutral,” emulating the perspective that we have on others as we live our normal daily lives: only able to observe their outward actions and spoken words. This sort of approach tends to maintain a certain amount of emotional distance between the viewer and the characters observed.
			</p>
			<p>
				A <em>subjective</em> approach reveals details of the character’s internal psychology––thoughts, memories, viewpoint––that we as viewers wouldn’t normally be privy to in everyday life. This approach tends to create more of an emotional connection between viewer and character.  The subconscious effect of this technique is that the viewer is more likely to project him/herself into the character. 
			</p>
			<p>
				If a director chooses to work from a subjective viewpoint, he/she can do it in a few different ways, working with either <em>perceptual</em> subjectivity or <em>mental</em> subjectivity (or both). Perceptual subjectivity involves using the camera and microphone to create POV shots in which the viewer essentially sees through the character’s eyes or hears exactly what the character is hearing. 
			</p>
			<p>
				Mental subjectivity, on the other hand, presents us with information going on inside of the character’s head in the form of images of the character’s dreams, fantasies or hallucinations or voiceover representing the character’s thoughts.
			</p>
		</div>
	</div>

	<div id="graphic_seven_out" class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Take a look at this scene from <em>The Graduate</em> by Mike Nichols.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/73082851?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>


</div>


<div class="three_section_2">
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>
</div>						
	
<div class="three_section_1" >
	<div class="sectionContainer">
		<div class="three_sub_section section">
			<p class="first_paragraph">
				Would you classify this as an example of perceptual or mental subjectivity? Why? 
				Imagine this scene being shot from a more “neutral” perspective. Perhaps from a wide shot across the pool depicting Dustin Hoffman’s character, small and in the distance, walking out of the house and stepping into the pool. How would the scene be different for you as the viewer? What are you thinking and feeling with the subjective treatment that you wouldn’t be thinking and feeling with an objective treatment?
			</p>
			<p>
				We can classify this treatment as perceptual subjectivity since we see and hear things from Dustin Hoffman’s perspective. Note that we’re not privy to any internal thoughts of Hoffman’s character which would quality this as mental subjectivity. We’re only given access to his senses, not his mental processes. 
			</p>
			<p>

				I’d say that one thing the POV shot does for us is emphasize the alienation that Hoffman’s character feels from his family. As we see through his eyes and hear through his ears, we feel the intense separation from the outside world in a way that we wouldn’t if we were observing these actions from an external perspective.
			</p>

		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				This next example from <em>Silence of the Lambs</em> demonstrates mental subjectivity (actual we get both perceptual and mental subjectivity in this scene). 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/73085324?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="369" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="three_sub_section section">

			<p class="first_paragraph">
				The mental subjectivity in this scene is the flashback that Jodie Foster’s character experiences while she observes a funeral. The funeral triggers a memory and we are given access to that memory, obviously information that we would not have if we were actually present at the funeral watching Jodie Foster observe the proceedings. 
			</p>
			<p>
				As we’ll see in a few weeks when we watch <em>The Silence of the Lambs</em>, Jonathan Demme makes periodic strategic use of perceptual and mental subjectivity and does so for very specific reasons that create a very different experience of the film than we’d get with a more “neutral” objective treatment.
			</p>
			<p>
				All these varying styles of narration are choices made by the film director who is trying to create the most effective distribution of story information––the distribution that succeeds in creating the desired series of effects in the mind and emotions of the viewer.
			</p>
			<p>
				There are a lot of variables involved in the way a director goes about chopping up and presenting the story material as a series of plot statements. But these categories that we’re delineating today represent some of the most frequent and significant decisions with the biggest impact on the viewer’s experience, and we’ll be referring back to these things frequently as we progress throughout the semester. 
			</p>
		</div>

		<div class="graphic">
			<div id="graphic_section_1" data-trigger-out="#graphic_one_out" class="powerpoint">	
				<h1>NARRATIVE PATTERNS</h1>	
			</div>
		</div>

		<div class="graphic">
			<div id="graphic_section_2" data-trigger-in="#graphic_two_in" data-trigger-out="#graphic_two_out" class="powerpoint">
				<div>
					<h1>Story - the "what"</h1>
					<div class="left">
						<h2>Events - occurrences in story and plot</h2>
						<h2>Existents - characters and setting</h2>
					</div>
				</div>
				<div>
					<h1>Discourse - the "how"</h1>
					<div class="left">
						<h2>the specific arrangement of story materials</h2>
						<h2>the techniques used to present the story</h2>
					</div>	
				</div>
			</div>
		</div>

		<div class="graphic">
			<div id="graphic_section_3" data-trigger-in="#graphic_two_out" data-trigger-out="#graphic_three_out" class="powerpoint">
				<div>
					<h1>Story - the "what"</h1>
					<div class="left">
						<h2>Events - occurrences in story and plot</h2>
						<li>the cause-effect chain</li>
						<h2>Existents - characters and setting</h2>
						<li>causal agents</li>
						<li>traits instigate cause-effect chain</li>
					</div>
				</div>
				<div>
					<h1>Discourse - the "how"</h1>
					<div class="left">
						<h2>the specific arrangement of story materials</h2>
						<h2>the techniques used to present the story</h2>
					</div>	
				</div>
			</div>
		</div>

		<div class="graphic">
			<div id="graphic_section_4" data-trigger-in="#graphic_three_out" data-trigger-out="#graphic_four_out" class="powerpoint">
				<div>
					<h1>Story - the "what"</h1>
					<div class="left">
						<h2>Events - occurrences in story and plot</h2>
						<li>the cause-effect chain</li>
						<h2>Existents - characters and setting</h2>
						<li>causal agents</li>
						<li>traits instigate cause-effect chain</li>
					</div>
				</div>
				<div>
					<h1>Discourse/Plot - the "how"</h1>
					<div class="left">
						<h2>Narration - distribution of story information</h2>
						<h2>Style - technical approach (camera, lighting, etc.)</h2>
					</div>	
				</div>
			</div>
		</div>

		<div class="graphic">
			<div id="graphic_section_5" data-trigger-in="#graphic_four_out" data-trigger-out="#graphic_five_out" class="powerpoint">
				<div>
					<h1>Narration - 2 dimensions</h1>
					<div class="left">
						<h2>Range</h2>
						<li>breadth of information given to viewer</li>
						<h2>Depth</h2>
						<li>degree of characters' psychological states explored</li>
					</div>
				</div>
			</div>
		</div>

		<div class="graphic">
			<div id="graphic_section_6" data-trigger-in="#graphic_six_in" data-trigger-out="#graphic_six_out" class="powerpoint">
				<div>
					<h1>Narrative Range</h1>
					<div class="left">
						<h2>Unrestricted</h2>
						<li>broad range of information given to the viewer</li>
						<li>viewer knows more than the characters</li>
						<h2>Restricted</h2>
						<li>narrow range of information given to viewers</li>
						<li>viewer knows the same or less than characters</li>
					</div>
				</div>
			</div>
		</div>
		<div class="graphic">
			<div id="graphic_section_7" data-trigger-in="#graphic_six_out" data-trigger-out="#graphic_seven_out" class="powerpoint">
				<div>
					<h1>Narrative Depth</h1>
					<div class="left">
						<h2>Objective</h2>
						<li>viewer only sees/hears character's external behavior</li>
						<h2>Subjective</h2>
						<li>viewer privy to certain internal information</li>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<%= render 'shared/modal' %>
