<div id="section_1" >
	<div class="sectionContainer">
		<div id="sub_section_1" class="section">
			<p class="first_paragraph">
				As perhaps you've guessed from the class's name, we're going to spend this semester trying to dig into the narrative form of filmmaking and examine in depth different techniques that filmmakers have employed in order to tell stories with images. 	
			</p>
			<p>
				If you've taken Film 114 and Film 210, you've taken the department's two foundational classes designed to provide you with an understanding both of film's cultural history as well as of fundamental filmmaking techniques.
			</p> 
			<p>
				In this class, we'll be spending less time thinking about the technical aspects of filmmaking, though those will still arise from time to time, and spend more time analyzing films to understand the strategy behind the director's structural decisions. We're going to think of a film's structure as a specific recipe designed to create a specific range and progression of emotions. Which ingredients a director chooses to include, and the order in which they're included, are extremely important in defining what that emotional progression ultimately turns out to be. 
			</p>
			<p>
				Here's an example: you've seen countless movies in which the main character, a detective perhaps, or an outlaw of some kind, is ready to retire, but instead decides to perform one last job (or perhaps is being pulled out of retirement to perform one last job). <em>Drive</em>, <em>Unforgiven</em>, <em>Falling Down</em>, <em>Inception</em>, <em>Seven</em>, <em>Grosse Pointe Blank</em>, <em>Blade Runner</em>, and countless other movies employ this now-cliched strategy. Of course the job goes wrong in some way. If the film were just a story of the job, and the job was just one in a long line of identical previous jobs and just one of many more to come, it would simply be a story of a job gone awry. But the director makes a strategic choice to precede the job-gone-wrong with the context of impending retirement. The carrot of "happily ever after" is dangled in front of us–the picture of possible happiness. It's the fact of this carrot that makes the job-gone-wrong that much more emotional. The contrast of potential happiness presented then snatched away enhances the emotional punch of the story. It's such an effective strategy that it's been used dozens of times, to the point that it's more or less lost it's power. While watching <em>Inception</em>, I laughed out loud when Leonardo Dicaprio tells Michael Caine that he just has to do this <em>one last job</em> and he'll be home free. I'm pretty sure laughter was not the emotional reaction Christopher Nolan was aiming for in that scene.
			</p> 

			<p>
				Throughout the semester we'll be fleshing out an idea of what constitutes "traditional" narrative structure. We'll also be attempting to flesh out some ideas about what variations on traditional form are possible and why someone might want to deviate from more accepted patterns. In other words, what unusual or unexpected effects on the viewer can be achieved by avoiding those traditional patterns? 
			</p>
		</div>	
		<div class="graphic">
			<div id="graphic_section_1" data-trigger-out="#section_2" class="powerpoint">	
				<h1>NARRATIVE STRATEGIES</h1>	
			</div>
		</div>
	</div>
</div>
<div id="section_2">
	<div id="section_2_overlay">
		<div class="sectionContainer">
			<div class="section sub_section_2">
				<h3>NARRATIVE FORM - CONVENTION AND EXPECTATION</h3>
				<p id="graphic_3_in">
					When a filmmaker makes a film, she is typically not simply interested in telling a story. Usually, she's interested in created an emotional experience, something that involves taking the viewer through a progression of a range of feelings. The filmmaker is highly attuned to the viewer's emotional state at all times and intentionally employs specific strategies to move the viewer from one emotional state to another. 
				</p>
				<p id="graphic_4_in">
					In order to create this progression, the filmmaker makes use of something called "narrative form." When we talk about narrative form, we're talking about an established system that creates <em>expectations</em>: a pattern. Those expectations are created when a pattern is repeated over a long period of time: we see a certain combination of shots, and we develop expectations about what's coming next (exactly what's going on when we hear a character utter the phrase "one last job"). 
				</p>
				<p>
					We can call these patterns <em>conventions</em>. Conventions can be useful tools that filmmakers employ to complex effect, or they can be cliched, cheap shorthand, intended to trigger stereotypical emotional reactions by rote.	
				</p>
				<p id="expectations">
					The expectations created by conventions are also tools that a filmmaker can use. If the filmmaker knows the viewer has certain expectations, she can choose to respond to those expectations in different ways. She can choose to <strong>fulfill</strong> those expectations, giving the viewers what they think they're going to get. Or she can instead choose to <strong>thwart</strong> expectations, denying the viewers the resolution of those expectations. Additionally, she can choose to <strong>delay</strong> expectations, forcing viewers to wait in anticipation. 	
				</p>
				<p>
					Each of these strategies can result in a variety of different effects on the viewer. When expectations are <em>fulfilled</em>, a viewer is likely to experience one of a range of emotions, from satisfaction to relief to perhaps a sense of well-being. <em>Delayed</em> expectations may result in curiosity, suspense or anxiety. <em>Thwarted</em> expectations may result in somewhat unpleasant emotions like disappointment or frustration. 
				</p>
			</div>
			<div class="graphic">
				<div id="graphic_section_2" data-trigger-in="#section_2" data-trigger-out="#expectations" class="powerpoint">
					<h2>Repetitions of form create conventions</h2>
				</div>
				<div id="graphic_section_3" data-trigger-in="#graphic_3_in" data-trigger-out="#expectations" class="powerpoint">
					<h2>Conventions create viewer expectations</h2>
				</div>
				<div id="graphic_section_4" data-trigger-in="#graphic_4_in" data-trigger-out="#expectations" class="powerpoint">
					<h2>Viewer expectations determine how the film is experienced</h2>
				</div>	
			</div>
			<div class="graphic">
				<div id="graphic_section_5" data-trigger-in="#expectations" data-trigger-out="#graphic_5_out" class="powerpoint">
					<div>
						<h2>What happens when expectations are <em>fulfilled</em>?</h2>		
					</div>
					<div>
						<h2>What happens when expectations are <em>delayed</em>?</h2>	
					</div>
					<div>
						<h2>What happens when expectations are <em>thwarted</em>?</h2>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="graphic_5_out" class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>
	<div id="section_2b_overlay">
		<div class="sectionContainer">
			<div class="section sub_section_2">	
				<div id="comment_response_section_1" class="first_paragraph">
					<p>
						While it's true that a viewer typically gets satisfaction out of fulfilled expectations and dissatisfaction from thwarted expectations, there are a number of compelling reasons why a filmmaker might be willing to risk causing a bit of viewer frustration. 
					</p>
					<p>
						One simple reason is that if filmmakers only fulfill expectations, then the film viewing experience quickly becomes predictable and dull. As soon as an expectation is raised the viewer already knows exactly what will happen. 
					</p>
					<p>
						Another reason is that thwarting expectations can result in a situation where viewers are forced to reevaluate their assumptions and perhaps come to see the situation in an entirely different light. This process of reevaluation results in a  fairly complicated experience for the viewer and as a result is quite popular with a lot of filmmakers. It's going to figure somewhat heavily in a number of the films we watch this semester. 
					</p>	
				</div>
				
			</div>
		</div>
	</div>
</div>
<div id="section_3">
	<div class="sectionContainer">
		<div class="section sub_section_3">
			<h3>CONVENTION IN ACTION</h3>
			<p>
				Let's think about some examples of this relationship between convention and expectation and how filmmakers might choose to make use of them.
			</p>
			<p>
				Genre filmmaking is often a breeding ground for convention (in fact, you could make an argument that a genre is nothing but a collection of conventions). Here's a convention from horror films: 	
			</p>	
			<p>
				Character X is alone in the house. Character X hears something in a different part of the house and goes to investigate. Most likely there's some spooky music playing. 
			</p>
			<p>
				What are your expectations regarding what's going to happen? You've seen this so many times that it's become pretty obvious. Character X encounters the villain and gets killed in some gruesome fashion. At least that's how the convention started. Hearing the sound and going to investigate is a way to create suspense, followed by a shock when the moment of truth arrives. The viewer knows what's going to happen. The only question is when that expectation will be fulfilled.
			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Conventions, however, are fluid. They don't remain static. They evolve over time. At some point the above convention got tiresome (you could probably make a case that it was always tiresome). After some repetition, it becomes entirely predictable. Once the viewer knows the filmmaker's strategy, then the filmmaker has to change strategies to try to get a step ahead of the viewer's expectations. Here's a scene from <em>Alien</em> by Ridley Scott that presents a variation on the original convention:	
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72940681?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="297" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="sub_section_3 section">	
			<p class="first_paragraph">
				The heroes hear something and go to find it. The heroes (and the viewer) are led to believe that they've found it. The filmmaker has established the expectation that we're about to encounter the alien. However, this time, the filmmaker chooses to thwart that expectation rather than fulfill it, resulting in a slightly more complex range of emotions. At the height of suspense, the danger is revealed to be something harmless, and both the viewer and characters let their guard down, experiencing a sense of relief and perhaps even some degree of humor (note the complexity of moving from fear and suspense to shock to relief and laughter).
			</p>
			<p>
				However, you've seen this variation many times before as well, so much so that we can say that this variation has also become it's own convention. Does anyone (who hasn't seen <em>Alien</em>), want to venture a guess as to what happens next? (Hint: to the guy who goes after the cat?). 
			</p>
			<p>
				The filmmaker builds up the suspense, then punctures it by revealing that there was no danger. Then when we no longer expect danger, it strikes suddenly (Yes, I'm afraid Harry Dean Stanton is doomed), and Ridley Scott is able to have his cake and eat it too, putting the viewer through suspenseful agony, but still able to pop a surprise on the viewer as well. This is a rather different emotional experience from the first version where the character hears something and then gets killed. 
			</p>
			<p>
				But as the viewer becomes accustomed to this convention as well, a war of escalation takes place, with the filmmaker having to constantly try to get one step ahead of the viewer, and you can end up with a film experience that functions something like an elaborate game. The viewer says, "I know what you're doing." The filmmaker responds "I know that you know what I'm doing."
				Viewer: "I know that you know that I know what your'e doing."
				Filmmaker: "I know that you know that I know that you know what I'm doing." etc.
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				This scene from <em>A Perfect Getaway</em> illustrates this idea of a filmmaker playing games with the viewer:	
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72940866?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="section sub_section_3">
			<p id="getaway" class="first_paragraph">
				There's a bit of a taunt contained in this scene. The filmmaker is saying, Hey, I know that you know that this is a genre movie and that you have a certain set of expectations. By acknowledging the game, the filmmaker throws the viewer off track. Now when the filmmaker actively employs a cliche, we don't know whether to take it at face value or to expect some sort of misdirection (hint for this movie: expect misdirection). 
			</p>
			<p>
				In essence, this can be one description of the entirety of the process of making a narrative film. The filmmaker is engaging with the entire history of filmmaking, working off expectations created by others, playing with and against ideas used many times by other filmmakers.	
			</p>
			<p>
				A significant part of the moviemaking process has become the task of manipulating and controlling viewer expectation. This is why an understanding of all the variables within the narrative system is so important: because viewer expectations depend entirely on the history of this system. 
			</p>
		</div>
		<div class="graphic">
			<div id="graphic_section_6" data-trigger-in="#getaway" data-trigger-out="#section_4" class="powerpoint">
				<h2>A significant part of the moviemaking process has become the task of manipulating and controlling viewer expectation.</h2>
			</div>
		</div>
			
	</div>
</div>
<div id="section_4">
	<div class="sectionContainer">
		<div id="section_4_overlay">
			<div id="sub_section_4" class="section">
				<h3>CONVENTIONS AS STRUCTURAL PATTERNS</h3>
				<p>
					Let's talk about a few examples of larger patterns that have recurred throughout film history and have become patterns for providing an overall structure to a film's progression. These patterns are a little broader than the concept of genre. 	
				</p>
				<p id="journey">
					<h3>The Journey</h3>
					<p>
						In this type of film, time is measured out through space. The journey is typically divided up into a series of destinations that incrementally progress through the narrative. As the characters reach one destination, a new one replaces it to provide the next short-term goal in the viewer's mind. The string of mini-journeys functions as a sort of scaffold on which to hang the rest of the film, the character development and emotional progression.
					</p>
				</p>
				<p id="detective">
					<h3>Detective Story</h3>
					<p>
						Here instead of using distance, time is measured out through discoveries. Each small discovery moves the viewer and characters one step closer to the long-term goal and is quickly replaced with a new short-term goal that will lead to the next discovery. 
					</p>
				</p>
				<p id="musical">
					<h3>Musical</h3>
					<p>
						This pattern is a little old-fashioned but has seen a little bit of recurrence of late (particularly in India). In the musical, time is measured out through songs in much the same way it's measured out through destinations and discoveries in the above patterns. Each song serves as a break from the overall flow of the narrative allowing us to reset our expectations about what’s coming next.
					</p>
				</p>
				<p>
					These are just a few of many patterns that have evolved over time. We'll encounter more as we move through the semester. The point is that patterns evolve because they are useful to filmmakers who use them as tools to shape and manipulate viewer expectations throughout the course of a film. 
				</p>
			</div>
		</div>
		<div class="graphic">
			<div id="graphic_section_7" data-trigger-in="#journey" data-trigger-out="#detective" class="powerpoint">
				<h2>The Journey - Time is measured out through space</h2>
			</div>
		</div>
		<div class="graphic">
			<div id="graphic_section_8" data-trigger-in="#detective" data-trigger-out="#musical" class="powerpoint">
				<h2>Detective Story - Time is measured out through discoveries</h2>
			</div>
		</div>
		<div class="graphic">
			<div id="graphic_section_9" data-trigger-in="#musical" data-trigger-out="#section_5" class="powerpoint">
				<h2>Musical - Time is measured out through song</h2>
			</div>
		</div>
	</div>
</div>
<div id="section_5">
	<div class="sectionContainer">
		<div class="section sub_section_5">
			<h3>LIMBO</h3>
			<p>
				The film that we're watching this week makes interesting use of filmic convention. John Sayles makes a series of choices that are designed to create certain expectations in the viewer. He then carefully chooses which expectations to fulfill and which to thwart based on the very specific emotional state he's looking to create in the viewer. 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				It's going to be most useful for us this week to first watch the film without too much information about it. That way we can let the film work on us in the way Sayles intends. Then we can look back and examine what kind of experience Sayles' choices created for us and why they had the impact that they did. So at this point, if you haven't watched the film, you should watch it now.	
			</p>
			<p>
				Seriously, I mean it. Thar' be spoilers below, and this is a spoilable film, so don't read further until you've actually watched it.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/67849416?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>				
		</div>
	</div>
	<div class="sectionContainer">
		<div class="section sub_section_5">
			<div class="emptyDiv"></div>
		</div>
	</div>
</div>	
<div id="section_6">
	<div class="sectionContainer">
		<div id="section_6_overlay">
			<div id="sub_section_6" class="section">
				<p class="first_paragraph">
					After watching the film, I want to take some time post-film to unpack a number of the unusual strategic choices that Sayles makes in this film and see if we can get at why he makes those choices and what impact they have on the viewer's experience. 
				</p>
				<p>
					The most obviously unusual aspect of this film is the ending (or lack thereof: I saw an Amazon review of the film where the disgruntled viewer complained that the film "HAS NO ENDING!!!!!" Apparently that viewer is still sitting in front of his television set, still watching the movie, which has never ended). 
				</p>
			</div>
		</div>

		<div class="lectureQuestion">
			<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
		</div>

<!-- break -->

	</div>
</div>

<div id="section_6b">
	<div class="sectionContainer">
		<div class="section sub_section_6b">
			<p class="first_paragraph">
					Let's take a trip back through the film and think about all the different sets of expectations we have as we watch.
				</p>
				<p>
					When we approach the film from the beginning, most likely the primary question in our mind (perhaps subconsciously) is “What is this film about?”, followed closely by “Who are the main characters?” and “What is the main conflict of the film?”
				</p>
				<p>
					The film starts with a few false beginnings that serve to postpone the answer to those questions. We see the fake educational film which gives us a sense of the history of the Alaskan area and helps to set up the backdrop of the conflict between tourism and the fishing industry that provides the social context for the film. This segues into the scene at the closing cannery, depicting the economically downtrodden position of the local population. We might expect that some of the characters we see here will be main characters, but that turns out not to be the case. Finally, we get to the wedding and gradually weave our way through a whole range of different characters. Again, we might think that the characters who get the most screen time––those conversing about the logging industry and tourism––might prove to be the main characters, but again, they are only small bit players. 
				</p>
				<p>
					It takes about seven minutes into the film for us to finally settle in on Mary Elizabeth Mastrantonio’s character, the singer, and perhaps get an inkling that she’ll prove to be one of the main characters of the film, but it isn’t until about twelve minutes in that the two main characters finally meet and set off what essentially amounts to the film’s cause-and-effect chain. All the preceding interactions have mostly served to set up the cultural backdrop in which the story will take place. 
				</p>	
					
				<p>
					Even through the introduction to the film, we see John Sayles playing a bit with our expectations in subtle ways. Once we see that Sayles is developing the relationship between Joe and Donna, our expectation most likely has been established that we’ll witness something of a conventional love story. The main question in our minds becomes “Will these two characters end up together?”
				</p>
				<p>
					This remains our primary question up until a critical juncture of the film where everything shifts. When John Sayles introduces the character of the step-brother, there are hints that he’ll figure into some kind of plot complication, but the real shift in our expectations about the film occurs right around the halfway point when we see the gun. 
				</p>	
				<p>
					Here is a significant strategic choice on Sayles' part. As soon as we see it, the gun creates a whole range of expectations that deviate significantly from the expectations we've had up until this point. The film pivots around the weapon, changing course. Now the film is about something else altogether. The story about the developing relationship, instead of being the main focus of the film, becomes the backdrop to some more conventional story about drug smuggling and violence. The questions we had been asking about whether these two characters will overcome their past problems and end up together recede to the back of our minds and the most pressing question becomes "What's going to happen with the gun?"
				</p>	
				<p>
					Why does this shot of the gun cause such a seismic change in our experience of the film and our expectations? It's because of our shared history of movie-watching. It's because of patterns and convention. We've been trained to expect that when a gun appears, it will go off at some point (this dramatic principle even has a name–Chekhov's Gun–after the Russian dramatist Anton Chekhov who famously stated that if a gun is shown in the first act of a play, it had better go off by the third, otherwise there's no reason to show it).
				</p>
				<p>
					In my mind, it’s worth digging in-depth into the question of why Sayles chooses this particular strategy, so we’ll spend time addressing that in this week’s discussion.
				</p>
		</div>
	</div>
</div>



<%= render 'shared/modal' %>
	