<div class="fourteen_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">ME AND YOU AND EVERYONE WE KNOW</h3>
			<p>
				In some ways Miranda July’s film follows the pattern of a conventional love story. Two people meet and develop an attraction. There is a complication that threatens to keep them apart. Eventually, they work through that complication and end up together. July takes this template and complicates it by overlaying it onto the ensemble film pattern, and then by giving the ensemble cast a range of somewhat unusual and quirky characteristics and having them behave in relatively unpredictable ways. In a more traditional romantic comedy, the main characters typically would have more generic and prestigious occupations than aspiring conceptual artist and shoe salesman. Main characters don’t typically exhibit the eccentricities demonstrated by both Christine and Richard at times in the film. There’s also a frankness and explicitness in regard to sexuality that’s somewhat unusual, particularly when dealing with young children. 
			</p>
			<p>
				July’s use of the ensemble pattern is relatively typical. While each separate thread of the ensemble has little direct correlation to the lives of the two main characters (aside from the thread involving Richard’s children), each thread does branch off from the two main characters in some way. So while the element of a lonely art curator’s online romance doesn’t have any bearing on the developing relationship between Christine and Richard, it doesn’t feel out of place to us because it intertwines with their storyline. It also feels appropriate for thematic reasons. The undercurrent of loneliness and attempts at human connection in the curator’s thread echo and embellish the attempts at connection of the two main characters. 
			</p>
			<p>
				This element of using thematic content to create a degree of cohesion among things that might otherwise feel too loosely connected should be familiar from <em>Gummo</em>, in particular. July also makes use of recurring motifs like the sense of touch, circular shapes and repeated references to birds to tighten connections between the various disparate threads of the ensemble.
			</p>
			<p>
				Lastly the ending in the film is a conventional happy ending (one of the few we’ve seen this semester), with the two main characters overcoming their differences and ending up in a state of hopeful anticipation of the future. As if to “soften” the happy ending, though, July then finishes the film with a somewhat enigmatic coda, as the young child uncovers the mystery behind the sound he’d been hearing throughout the film, something of a surprise answer to a question we weren’t expecting to have resolved. 
			</p>
			<h3>ENDINGS</h3>
			<p>
				This week I want to spend a little time thinking about the way a filmmaker chooses to end a story.
			</p>
		</div>
	</div>
</div>
<div class="fifteen_section_2">
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">			
				Perhaps the best answer for this question is “when the storyteller stops telling it.”
			</p>
			<p>
				The most traditional version of an ending is the presentation of the final events that occur in a cause-and-effect chain, wrapping up the various threads of plot that have been explored throughout the course of the film. However, we’ve seen many different approaches to film endings this semester that might challenge that traditional definition, films that leave the cause-and-effect chain unresolved.
			</p>
			<p>
				There are also many examples of films that rearrange the chronological events of the story out of order and end with an action that occurred somewhere in the middle or even beginning of the story time (the film <em>Irreversible</em> by Gaspar Noe presents the events of the film in reverse order; Tarantino’s <em>Pulp Fiction</em> begins and ends with the same scene that occurs somewhere in the middle of the story, just to name two of countless examples).
			</p>
			<p>
				Why are endings important?
			</p>
			<p>
				First, an ending tells us something about the story. Because an ending is a structural, if not chronological, conclusion to the story, it gives us information about what the director intends the structure of the story to be. If an ending doesn’t wrap up what seems to be the relevant outstanding plot lines, then it’s possible that we were, in fact, wrong about what those outstanding plot lines were (this was the case with John Sayles’ <em>Limbo</em>).
			</p>
			<p>
				An ending determines the overall “success” of the film in our estimation––like a gymnast sticking––or failing to stick––the landing after an exhilarating and challenging routine. Stumble on the landing and our overall impression of the “success” of the film will be tainted, at best, and perhaps ruined altogether. Granted, whether or not an ending succeeds or fails is a somewhat subjective matter (I happen to think the ending to <em>The Sopranos</em> was one of the great endings in the history of drama, but there are those who will disagree vehemently), but the ending still dramatically shapes our attitude toward a story. We’ve all had the experience of being drawn into watching a story––one that we weren’t necessarily riveted by––that we continued watching just because we were curious to see how it ended (and have all been disappointed in similar circumstances).
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>		
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Most likely whether we find an ending satisfying or not is not as simple as whether or not the ending was a “happy” one. Most of us prefer happy endings in general, but it’s likely most of us have appreciated “unhappy” endings at some point in our lives. Looking back over the films we’ve watched in class this semester, you’d be hard-pressed to make a case for more than two or three of them having a happy ending (if that many). 
			</p>
			<p>
				What might be more important than a happy ending, at least for some viewers, is whether or not the ending feels true, either to the world of the film as it has been established thus far, or true to one’s understanding of how the real world operates. If the ending feels more realistic or true to our own experience of the world, we might also find it satisfying, even if the ending itself is an unhappy one. For me, personally, this is the case with <em>No Country for Old Men</em>. The film has a particularly “unhappy” ending. The “hero” dies. His innocent wife is also killed. The “bad guy” gets away. The narrator is left as an old man at the end of his life with more questions about who he is and where he is going than he had when the film began. Yet for me, despite all the negatives listed above, the ending to this film is still deeply satisfying. It feels like it’s making an honest attempt to look at, and explore, the real world that we actually live in: a world in which there is no guarantee that “good guys” will win or bad guys will get their comeuppance. The film seems to make an attempt to look experience squarely in the eyes and face both life and death unflinchingly. It’s an ending that feels true to both the world that is presented in the film, as well as being true to the way that the world we live in “works.” 
			</p>
			<p>
				Beyond putting the final touches on our immediate impressions of a film, the ending also  shapes our post-film experience. Certainly the film as a whole determines our overall attitude toward it after the fact, but the ending is going to create the feeling that lingers with us as we leave the theater, and most likely the feeling we first associate with the film when thinking back on it. 
			</p>
			<p>
				Some films, even enjoyable ones, are instantly forgettable. They are entirely wrapped up and closed, the ending so final, the threads of the film tied up so neatly, that there’s nothing left to think about after the film is over. There are countless films that I’ve enjoyed in the telling, but have never given further thought to once the film was over. Other films can haunt you for days or even years, with scenes occasionally returning to the mind periodically, spawned by reminders we see in our regular lives or in other films or stories. These tend to be films that end more openly, leaving room for the viewer to continue thinking about the film and pondering over what different possibilities could occur. 
			</p>
			<p>
				This “open-ended ending” was certainly prevalent in varying degrees in many of the films we watched this semester. While it’s been around for a long time, it used to be something of a rarity in more mainstream contexts (and it’s still not exactly common), but it’s been used more frequently in recent years. This is partly a by-product of the rise in films designed for sequels which tend to end in more open-ended fashion leaving room for a continuation of the story (this was the case with <em>The Silence of the Lambs</em> which had a definitive ending to its primary story arc while lacking resolution for its secondary plot line involving Lecter). But it’s also become somewhat more accepted to leave a film’s conclusion open. An example of a mainstream blockbuster incorporating an inconclusive ending is Christopher Nolan’s <em>Inception</em> where a specific ending is suggested, but then a degree of doubt is placed in the viewer’s mind about the reality of that ending. 
			</p>
			<p>
				By making use of an open ending, the filmmaker is making a trade-off. There’s no question that an open ending <em>feels</em> less satisfying in the moment while watching the film. Human psychology tends to prefer resolution. When we’re deprived of that, we experience some immediate cognitive dissonance. However, if the viewer can get past that immediate disappointment, the longer term effects of the open ending are significantly stronger than the closed ending, so the filmmaker trades the immediate sense of resolution for longer-lasting impact.
			</p>
			<h3>L'ARGENT</h3>
			<p>
				If you were disappointed by the fact that we had a fairly conventional happy ending last week, you’ll be pleased at our return this week to the unhappy ending (yes, that’s something of a joke). This week’s film, <em>L’Argent</em> by Robert Bresson, provides us with a glimpse of several unusual narrative strategies from the perspective of both structure and style. 
			</p>
			<p>
				Rather than following a main character, the film (the title means “money” in French) begins by following a counterfeit bill as it’s passed around to several characters. The film eventually settles into telling the story of the unfortunate soul who ends up taking the blame for the bill, but because of the way it leads us into this character, the film doesn’t entirely feel like it’s his story. 
			</p>
			<p>
				Bresson presents one of the more unusual and idiosyncratic stylistic signatures for any director you’ll encounter. One of the most distinctive aspects of his style is his treatment of character. Bresson was famously disinterested in the verisimilitude of the performance of actors. In fact, he referred to the people working in his films not as “actors”, but instead as “models”. The term is a perfect encapsulation of what the characters in his films do. They do not attempt to create convincing performances, to emote. Instead they simply perform the requisite actions as though they are carrying out commands by rote.
			</p>
			<p>
				It’s an unusual choice on Bresson’s part. It prevents the viewer from developing the same sort of emotional connection with the characters that directors are typically striving for. But that emotional connection is something that Bresson clearly is not interested in. It’s his desire to strip away anything that would distract from an emphasis on the events themselves. 
			</p>
			<p>
				In particular in this film, because we do not develop an emotional connection with the main character, we don’t see him as an individual. We instead see him as a generic type, and the misfortunes he suffers don’t seem unique to one individual but instead they seem to be the result of systemic problems that relate to society as a whole. His spiral into a life of crime, while the result of his own choices, nevertheless seems like the inevitable outcome of forces beyond his control. I believe this effect is due largely to Bresson’s stylistic and structural treatment of the source material. 
			</p>
			<p>
				The other distinctive aspect of Bresson’s style that I want to emphasize is the visual grammar that he employs: a terse economy of uninflected shots, often drawing attention to the workmanlike actions performed by his “models”. If Haneke carefully chose his moments and then let them play out before the camera in their entirety, Bresson presents nearly the opposite approach: an extreme concision, reducing scenes down to a few selected closeups of detailed action. Combined with the performances, his style creates a deceptive appearance of simplicity, but the end result is precise and densely communicative (a corollary might be Hemingway’s terse prose). 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				As you watch <em>L’Argent</em>, pay attention to Bresson’s treatment of character. How much information are we given about each character? How is that information communicated to us? Also pay attention to how much of each scene is presented and how much is left out. Which details and actions stand in for the entirety of the scene? Also think about how Bresson’s stylistic choices underscore his thematic interests with the film. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/73547930?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="417" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>


<%= render 'shared/modal' %>
