<div class="six_section_4" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">OLD JOY</h3>
			<p>
				This is a film that on some levels feels rather mundane and relatively unstructured. It depicts a set of ordinary events that occur in much the way that they might in our "real" non-Hollywoodized lives.
			</p>
			<p>
				However, when you examine the film closely, it’s actually very tightly structured, and ultimately structured very similarly to most traditional Hollywood films.In many ways the plot could be seen as fairly traditional. There are three acts. You could plug many of the events here into more "traditional" films and they could fit rather well if the discourse surrounding them were a little bit different. You have a set of friends reuniting and going on a journey. Along the way there are complications that they must work through. The complications are even fairly traditional. They get lost. There are some interpersonal conflicts. Past issues that were never fully resolved resurface. This description of the film probably sounds like a lot of other films that you’ve seen.  
			</p>
			<p>
				However, as with <em>The Killing of a Chinese Bookie</em>, the discourse surrounding the events of the film is a bit different from what we might be used to. 
			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Watch this scene from the movie again. Separate out the events from the discourse. The scene presents the two characters getting lost. They reach a fork in the road. Several times they discover they’re going the wrong way and turn around. They pull over to look at a map and more closely inspect a sign along the way. One of the characters gets a phone call but loses cellphone reception. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/75724876?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="387" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				I’ll just draw attention to a few things. An obvious one is the music. Rather than an ominous soundtrack, we have rather pleasant, bucolic guitar from Yo La Tengo. Another difference is that the lines spoken––”I’m in your hands”, “We’ve entered a whole other zone”, etc.––are treated as matter-of-fact. We don’t get a close-up of the character as he says the line. There isn’t a dramatic pause beforehand. The shot doesn’t linger on the character’s face after he says the line creating a pregnant pause. When they turn the car around several times, we aren’t given their reactions to having to change direction. We only see the car turning around and have to speculate whether the characters are upset or not. There’s an interesting shot in the middle of the sequence. At one point, after they turn around, there’s a rather long shot of trees out the window with music playing. It’s an interlude that makes the experience of being lost seem almost pleasant. 
			</p>
			<p>
				Rather than playing up the stakes of each event, the film tends to downplay those things. When the characters reach a fork in the road, there’s a hint of uncertainty. This is a moment that in other films would be fraught with portent and presented in such a way so as to maximize the drama, raising the questions, “Are they making a mistake? Is something wrong?” Here it seems of no consequence. The filmmaker does not try to use the events to raise questions in the viewer’s mind in the same way that Ridley Scott did in <em>Alien</em>. When the characters get lost, we never really feel like anything in particular is at stake because the filmmaker doesn’t make a big deal out of it. There’s no ominous music. The characters are not shown to be concerned. 
			</p>
		</div>
	</div>	
</div>
<div class="seven_section_2">
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">			
				There are probably a lot of good answers to this question. Similar to Cassavetes with <em>The Killing of a Chinese Bookie</em>, Reichardt is probably more interested in who these people are than in what happens to them. Clearly this is a film much more concerned with character development than with plot. It’s also possible that Reichardt doesn’t want to play games with or trick the viewer. We’ve talked earlier in the semester about the way that many narrative films employ a certain amount of gamesmanship with the viewer, trying to trick them into feeling certain ways, only to turn the tables later in order to gain an emotional punch on the viewer. If Reichardt played ominous music under the scene at the fork in the road, or when the characters were lost, she would essentially be lying to you, telling you that these moments are of great consequence and you should be worried about them (similar to the way Ridley Scott treats the moments when the crew descends to the planet surface in <em>Alien</em>), when in reality it’s just a minor complication that’s not of any real importance. In this film, instead of each event being treated with heightened anticipation and amplified outside the bounds of the surrounding context, each event that occurs is actually treated with the “correct” proportion of attention relative to its actual importance in the storyline.
			</p>
			<p>
				Another component of this film that falls more into the modernist camp of storytelling is the way in which the characters are developed (or perhaps are not developed). Rather than demonstrating some change in the characters over the course of the film, this film presents characters in stasis, and the plot serves largely to demonstrate the state the characters are in. In this case we learn who the characters are as people and see how that affects their relationship to each other. It is also implied how they have changed and how that has changed their relationship. However, they don’t really change much as a result of the events of the film. In fact, the ending of the film mostly points out that despite the events of the film, they haven’t really changed at all. 
			</p>
			<h3>2001: A SPACE ODYSSEY</h3>
			<p>
				When analyzing a film, one instructive question to ask can be “What is the director interested in? In <em>Limbo</em>, John Sayles was interested primarily in his three main characters and the changes happening to them, although he was also interested in Alaska as a place with an unusual climate (both literally and economically) and its impact on the people who live there. Stanley Tucci in <em>Big Night</em> is interested in the two brothers’ relationship and how it responds to various strains and hardships. Jonathan Demme is mostly interested in the events of the plot in <em>The Silence of the Lambs</em>, but he’s also interested in Clarise––who she is and who she’s becoming. Kelly Reichardt, in <em>Old Joy</em> is interested in her two main characters and how the changes they’ve gone through as they’ve moved into adulthood (or failed to transition to adulthood in the case of Kurt) have influenced their past friendship.
			</p>
			<p>
				We’ll be watching a film this week in which this question about what the director is interested in might be a little harder to answer. <em>2001: A Space Odyssey</em> is most definitely not a character study along the lines of <em>The Killing of a Chinese Bookie</em>. It’s also not a plot-driven thriller along the lines of <em>The Silence of the Lambs</em>. In fact, there’s a rather unusual plot structure that we’ll dig into a bit more in-depth next week. Neither plot nor character will end up being of primary importance in this film. Both are used to further a different end altogether. 
			</p>
			<h3>CHARACTER AND PLOT DEVELOPMENT</h3>
			<p>
				We've talked previously about the way that films we have watched thus far have dealt with the balance between plot and character. Usually the films have employed one of those two as a means of developing the other. 
			</p>
			<p>
				<em>The Silence of the Lambs</em> is focused primarily on the plot, stringing together a sequence of cause-and-effect events in tight succession. Most of the character development happens in order to drive the plot, although there's a bit more character development than we might expect for a plot-driven film.
			</p>
			<p>
				Last week we looked at the beginning of <em>Alien</em>, another plot-focused film, and saw the way that the director raises questions at regular intervals, answering one question while replacing it with another. The very limited information we learn about the characters provides a backdrop for the characters’ relationships, but we learn next to nothing in terms of backstory about any of the characters themselves as they serve simply as foils for the events that will occur. 
			</p>
			<p>
				We've also seen the inverse of that approach: films in which the plot is there primarily to provide opportunities for character development. <em>Limbo, Big Night, Killing of a Chinese Bookie, Old Joy</em>––all primarily rely on character. Plot events are mostly just an excuse to see how the characters deal with conflict.
			</p>
			<p>
				As you watch the film this week, I’d like you to focus on the question of the roles that plot development and character development play throughout the film. How do they contribute to the overall aspects of the story that Kubrick is most interested in (and just what exactly is Kubrick most interested in?).
			</p>
		</div>
	</div>
</div>
<div class="seven_section_3">
	<div class="sectionContainer">
		<div class="sub_section section">			
			<h3>VISUAL STORYTELLING</h3>
			<p>
				We talked earlier in the semester about the long history that narrative storytelling has. But for the majority of human history, narrative has been primarily a verbal medium. Literature and drama, narrative precursors to filmmaking, are heavily reliant on the spoken or written word. Filmmaking is unique among storytelling media (well, not unique, there are comics as well) in its ability to focus on exclusively visual material. Nevertheless, many films still rely heavily on the verbal communication of information, either in the form of spoken dialog, spoken voiceover, or text laid over the imagery onscreen. There are, however, some films that make an attempt to take advantage of the visual possibilities of cinema and communicate narrative information through visual rather than verbal means. For a good example of this, we need look no further than the above scene from <em>Old Joy</em> that we revisited earlier. Reichardt is trying to communicate to us that the characters are lost. A lazy way to very quickly dispense that information would be to have one of the character’s say “We’re lost.” Or perhaps, </br>
				“Do you know where we are?” </br>
				“Nope.” </br>
				Instead, though, she has one character giving directions while the other character asks if he’s sure. Although the direction-giver insists that he is, this first plants a doubt that perhaps the character giving directions doesn’t know where they’re going. Then that same character points ahead and says, “I remember that,” as if reassuring himself that they’re on the right path. We see that he is beginning to doubt his own sense of direction. Eventually we see several shots of the car turning around to go in the opposite direction. Now we know that they’re lost. This sequence has taken a bit longer than having a character say “We’re lost,” but it’s also made the viewer a more active part of the story, actively piecing the data together to come to her own conclusions. It’s a good fulfillment of the old writerly adage “Show, don’t tell”. 
			</p>
			<p>
				There is perhaps no better example of visual narrative storytelling in all of cinematic history than the film we’re watching this week: <em>2001: A Space Odyssey</em> by Stanley Kubrick. There’s no dialog of any kind for approximately the first and last half-hours of the film (2/3 the length of an average Hollywood movie). When there is dialog, it’s often sporadic, inconsequential or perfunctory. There are only a few dialog-heavy moments in which important information is distributed verbally to the viewer, and even these are occasionally nested inside layers of dense visual information.  
			</p>
			<p>
				Because the film relies so heavily on imagery to communicate information, this film does take more time to communicate that information than it would if it were relying on more visually lazy means. Occasionally, it moves at a pace that can at best be described as glacial. But even in those scenes, Kubrick’s slow progression serves to draw the viewer into the scene and allow the viewer to absorb and inhabit the moment. 
			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				As you watch the film this week, another thing I want you to be focusing on is the way in which Kubrick relies on the visual communication of information. What exactly happens in the long sections without dialog? What information does each shot give to us? And how does that information add up to larger ideas?
			</p>
			<p>
				Afterwards, head over to the discussion forum to talk about it. There’s a whole lot to unpack in this film, so we’ll spend some time next week after you’ve had a chance to talk about it in the discussion forum with each other trying to take apart some of the components of Kubrick’s discourse in the film. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/73547929?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>

<%= render 'shared/modal' %>
