<div id="section_0" >
	<div class="sectionContainer">
		<div id="sub_section_1" class="section">
			<p class="first_paragraph">
				Welcome to Narrative Strategies! This semester we’ll be watching a bunch of narrative films and taking them apart to look in-depth at the choices their directors have made in terms of how to structure the storytelling to have the desired impact on the viewer.
			</p>
			<p>
				This first week will be primarily an introduction and orientation to how the course will function. You’ll need to read through the syllabus (included below) and then you’ll take a brief quiz just to make sure you’ve read the syllabus and understand class procedures. 
			</p>
			<p>
				This class will be divided into weekly modules revolving around a film viewing. Essentially, I see this class (and want you to look at this class) as one long, ongoing conversation about ways to tell stories in film. 
			</p>
			<p>
				Each film has been chosen for the way it contributes to that ongoing, semester-long conversation. Some weeks, particularly in the beginning of the class, there will be fairly in-depth lectures that lay a foundation for our conversation throughout the coming weeks. Other weeks, there might be no lecture, but more in-depth discussion requirements and/or a series of creative exercises designed to give you the opportunity to apply ideas from our conversations to storytelling problems. 
			</p>
			<p>
				While I’ve taught this class in-person several times, this is my first time adapting it for an online context, so please bear with me as I work to find the best way to adapt the material to the strengths of an online format. It’s possible that some of the aspects of the class like the grading percentages for the different grade categories could shift as I experiment with what types of assignments work best online.
			</p>
			<p>
				If you haven’t taken an online class in the past, you’ll find that while there are some distinct advantages to the online format (freedom to schedule the requirements whenever convenient during the week, etc), it still requires a significant investment to prove most rewarding. In order to excel in the online environment, a few things are required of the student: 1) motivation. Since there are no fixed times for the class to meet, it will be up to you to fix time in your schedule each week to meet all the requirements. It is recommended that you set up a regularly weekly schedule that works best for you so that you will have time set aside each week for this class's required activities. 2) engagement. The old adage that you only get out what you put in is still true in the online environment. If you make an effort to think through the assignments and post thoughtful discussion to the forums, you will end up having a richer educational experience than if you simply try to meet the bare minimum of the requirements.
			</p>
			<p>
				Here’s an example of the weekly structure for the class: 
				Each module will open on Monday morning. In the “Content” section of D2L, you’ll find a list of required activities for the week, as well as links to all the various module components: lectures, quizzes, readings, discussion forums. You’ll have until midnight on Thursday each week to watch the required film (which I will try to have a streaming link for each week) and do the required readings. You’ll need to post to the discussion forum by midnight Thursday. Then you’ll have until midnight Sunday to complete any other required activities: posting responses to the discussion forum, taking quizzes or completing creative assignments. 
			</p>
			<p>
				This week, the procedure will be slightly different. Since it’s the first week of the semester and a day shorter, you’ll only be required to make 1 post to the discussion forum. However, I still strongly encourage you to respond to your classmates’ posts this week, just to get to know one another a little better.
			</p>
			<p>
				SYLLABUS </br>
				On the D2L content page, you'll find a link to the syllabus where you'll find more info about how the class will work plus a schedule for what we'll be doing each week. Once you’ve read the syllabus, you’ll need to take the quiz for this week and post your introductory posts to D2L. 
			</p>
		</div>
	</div>
</div>
