/*$primary-font: "Special Elite";*/
$primary-font: "Patrick Hand SC";
$secondary-font: "Roboto";
$primaryWidth: 60%;

@mixin flash {
	width: $primaryWidth;
	margin: 10px auto;
	padding: 5px;
	font-family: $secondary-font;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

span {
	font-family: $secondary-font;
}

body {
	margin: 0;
	background-color: black;
}

p {
	margin-top: 0;
	font-family: $secondary-font;
}

a {
	font-family: $secondary-font, sans-serif;
	font-size: 1em;
	text-decoration: none;
	color: #666;
	&:hover {
		color: lighten(#ccc, 60%);
	}
}

a.navbar {
	margin: 15px 30px 0 0;
}

li {
	font-family: $secondary-font, sans-serif;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: $secondary-font, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}


.pull-right {
	float: right;
}

.inline {
	display: inline;
}

.brand {
	display: inline-block;
	font-size: 2em;
	margin: 0 0 0 30px;
	font-family: $primary-font, sans-serif;
	color: #ddd;
}


nav {
	width: 100%;
	height: 50px;
	background-color: #aaa;
	opacity: .8;
}

.navLine {
	width: 100%;
	height: 5px;
}

.navLineTop {
	background-color: #666;
}

.navLineMiddle {
	background-color: #333;
}

.navLineBottom {
	background-color: #ccc;
}


/*-----rounded buttons -----*/
input[type="submit"].button {
	border-radius: 15px;
	outline: none;
	width: 100px;
	height: 30px;
	font-size: 1em;
	color: #fff;
	background-color: #999;
	border: none;
	margin: 0;
	&:hover {
		background-color: #555;
	}
}

.links {
	margin: 0 10px;
}

#linkbar {
	width: 100%;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 5%;
	border-bottom: 2px solid #999;
	h2 {
		display: inline;
	}
}

.linkbar_left {
	margin: 0 13% 0 0;
}
.linkbar_right {
	margin: 0 0 0 13%;
}

.linkbar_middle {
	margin: 0 13%;
}

/*---- forms ----*/

label {
	font-family: $secondary-font, sans-serif;
	font-size: 1em;
	margin: 0 5px;
}

form {
	input {
		outline: 5px solid #aaa;
		margin: 10px 0;
		font-family: $secondary-font;
	}

	textarea {
		outline: 5px solid #aaa;
		margin: 10px 0;
		font-family: $secondary-font;
		border: none;	
		width: 50%;
		height: 100px;
	}

	input[type="submit"] {
		border: none;
		/*display: inline-block;*/
		background-color: #ddd;
		margin-top: 25px;
		margin-left: 70px;
		&:hover {
			background-color: #fff;
			cursor: hand; cursor: pointer;
		}
	}
	input[value="Send me reset password instructions"] {
		margin-left: 0;
	}
	input[value="Resend confirmation instructions"] {
		margin-left: 0;
	}

	h3 {
		margin: 15px 0 5px 0;
	}

	#quiz_duration {
		width: 50px;
	}
}

/*----- content containers -----*/
.container-fluid {
	width: 100%;
	overflow: auto;
	background: url('bg.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contentContainer-fluid {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 10%;
}

.sidebar {
	display: none;
	width: 20%;
	min-width: 150px;
	float: left;
	background-color: #ccc;
	padding: 2%;
	margin-top: 2% ;
	border-radius: 5px;
	border: 5px solid #fff;
	opacity: .9;
}

.contentInterior {
	width: 85%;
	min-width: 195px;
	min-height: 400px;
	margin: auto;
	/*float: left;*/
	padding: 2%;
	margin-top: 2% ;
	opacity: .9;
	border-radius: 5px;
	border: 5px solid #fff;
	background-color: #ccc;
}

#formContainer {
	width: 45%;
	float: left;
	/*background-color: #999;*/
}

#questionContainer {
	width: 43%;
	float: left;
	/*background-color: #666;*/
	padding: 1% 3%;
	margin-left: 5%;
}

#addQuestionForm {
	width: 94%;
	padding: 3%;
	/*text-align: center;*/
	background-color: #888;
	display: none;
}
/*#interiorPrimary {
	width: 85%;
	float: left;
}*/

#floatContainer {
	/*min-height: 320px;*/
	overflow: auto;
	margin-bottom: 3%;
}

/*#interiorSecondary {
	display: none;
	width: 0;

	margin-left: 2%;
	padding: 2%;
	opacity: .9;
	border-radius: 5px;
	background-color: #888;
}
*/
footer {
	padding: 2% 4%;
	background-color: #aaa;
	height: 30px;
}

#pageTitle {
	text-align: center;
	width: 60%;
	margin: auto;
	h1 {
		color: #ddd;
	}
}

.dropdown {
	display: none;
	width: 12%;
	background-color: #aaa;
	position: absolute;
	right: 0;
	top: 65px;
	border: 5px solid #666;
	ul {
		list-style: none;
		text-align: right;
		margin-right: 10%;
	}
	.dropdown-divider {
		border-top: solid 1px #E5E5E5;
		margin: 5px 0;
	}
}

/*------ flash -----*/
#alerts {
	display:none;
}

#flash_alert, #alerts {
	@include flash;
	background-color: #b60;
}

#flash_error {
	@include flash;
	background-color: #f00;
}

#flash_notice {
	@include flash;
	background-color: #0b0;
}

#error_explanation {
	display: none;
	background-color: #b60;
	padding: 2% 2% 2% 6%;
	border-radius: 5px;
	color: #fff;
	margin: 2% 0 3% 0;
	h4 {
		color: #ddd;
	}
	.close {
		float: right;
	}
	a {
		color: #ccc;
		&:hover {
			color: #fff;
			cursor: hand; cursor: pointer;
		}
	}
}

#new_quiz_btn {
	margin: 5% 7%;
}

.separation {
	margin-left: 10px;
}

/*----- datepicker -----*/
.ui-datepicker {
	display: none;
	background-color: #fff;
	padding: 10px;
	border: 8px #666 solid;
	font-family: $secondary-font;
	a:hover {
		color: #aaa;
	}
	.ui-corner-all {
		margin-right: 10px;
		cursor: hand; cursor: pointer;
	}
}


/*-----media queries-----*/
@media screen and (max-width: 480px) {
	.sidebar{
		display: none;
	}
}